{extend name="common/base" /}
{block name="title"}添加商品{/block}
{block name="main"}
<style>
    .goods-itmes {
        width: 100px;
        display: inline-block;
        float: left;
        padding-right: 15px;
    }

    .adimages {
        position: relative;
        float: left;
        margin: 10px 12px 0 0;
        width: 120px;
        height: 120px;
        font-size: 18px;
        line-height: 120px;
        text-align: center;
        border: 1px solid #e5e5e5;
        color: #ccc;
        overflow: hidden;
    }
    input[type=radio] {
        display: none;
    }

    label.cb-enable {
        color: #777;
        font-size: 12px;
        line-height: 25px;
        background-color: #ebeff5;
        height: 25px;
        padding: 1px 11px;
        border-style: solid;
        border-color: #BEC3C7;
    }
    label.cb-enable.selected {
        color: #FFF;
        background-color: #2196F3;
        border-color: #1d77bf;
    }
    label.cb-disable.selected {
        color: #FFF;
        background-color: #96A6A6;
        border-color: #808B8D;
    }

    label.cb-disable {
        color: #777;
        font-size: 12px;
        line-height: 25px;
        background-color: #ECF0F1;
        height: 25px;
        padding: 1px 11px;
        border-style: solid;
        border-color: #BEC3C7;
    }
     .cb-disable {
        border-width: 1px 1px 1px 0;
        border-radius: 0 4px 4px 0;
    }
    label.cb-enable {
        border-width: 1px 0 1px 1px;
        border-radius: 4px 0 0 4px;
    }

    .input-append.date.form_datetime {
        width: 200px;
        display: inline-block;
    }
</style>
<link href="http://www.bootcss.com/p/bootstrap-datetimepicker/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet">
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h5>商品 > <a href="/admin/goods">商品列表</a> > 商品发布</h5>
                        <div class="nav navbar-right panel_toolbox">
                            <a href="/admin/goods/cgtype"><i class="fa fa-list"></i> 返回</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="myForm" class="form-horizontal form-label-left" data-url="/admin/goods/add" onsubmit="return false">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">商品分类</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <span class="Cg_Title"  style="border-bottom: 1px dashed #c0c0c0;line-height: 28px;">{$t_cate}</span>
                                    <input type="hidden" name="uid" value="{$cate}">
                                </div>
                            </div>

                            <!--demo-form2-->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">商品名称</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12" placeholder="商品名称" name="name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">商品货号</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12" placeholder="商品货号" name="serial">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">品牌</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="selectbox form-group">
                                        <select class="form-control select" name="cid">
                                            {volist name="brand" id="vo"}
                                            <option value="{$vo.id}">{$vo.name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--规格设置-->
                            {volist name="specs" id="vo"}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{$vo.spec_name}</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="selectbox form-group">
                                       
                                        {volist name="vo.attrs" id="attr"}
                                            <input type="checkbox" class="flat" name="attr_{$vo.id}[]" value="{$i}" checked data-parsley-multiple="gender" style="position: absolute; opacity: 0;"><label>&nbsp;{$attr.attr_name}</label>&nbsp;
                                        {/volist}
                                       
                                    </div>
                                </div>
                            </div>
                            {/volist}
                            

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-6 col-sm-6 col-xs-12 gootdstable">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">市场价</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12" placeholder="市场价" name="market_price">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">售价</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12" placeholder="售价" name="price">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">库存</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12" placeholder="库存" name="count">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">商品简介</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="message" class="form-control" name="remark" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-validation-threshold="10" placeholder="商品卖点"></textarea>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">商品图片</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="col-sm-12 imgFile" style="padding-left: 0; margin-bottom: 4px;">
                                        <input class="form-control file-img" placeholder="图片上传" style="text-indent: 1.5rem;">
                                        <i class="fa fa-picture-o imgFile-ico" style="padding-left: 5px;" onmouseover="mouseover(this)" onmouseout="layer.closeAll();"></i>
                                        <span class="imgpicker">
                                            <span class="uploader-text">选择上传…</span>
                                            <input type="file" class="file-invisible file-goods" name="image" accept="image/jpg,image/jpeg,image/png">
                                        </span>
                                    </div>
                                    <span class="notic">提示：</span>
                                    <ol>
                                        <li>本地上传图片大小不能超过<span class="red">500k</span> </li>
                                        <li>商品图片您最多可以上传<span class="red"> 6张</span>图片</li>
                                    </ol>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">宝贝预览</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <dd><span class="red">800*800</span>以上的图片可以在宝贝详情页主图提供图片放大</dd>
                                    <div class="adimageser">
                                        <div class="adimages">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">商品详情</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="editor" name="content" placeholder="内容"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">商品关键字</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12" placeholder="商品关键字" name="keyword">
                                    <span class="notic">商品关键字，以 , 号隔开</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">采购地</label>
                                <div class="col-md-6 col-sm-6 col-xs-12 show" style="font-size: 0;">
                                    <label for="goods_make1" class="cb-enable selected">国内</label>
                                    <label for="goods_make0" class="cb-disable ">海外及港澳台</label>
                                    <input id="goods_make1" type="radio" name="make" checked="checked" value="0" >
                                    <input id="goods_make0" type="radio"  name="make"  value="1" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">商品物流所在地</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="selectbox form-group">
                                        <select class="form-control select" name="city[]">
                                            <option value=""> -- 请选择 -- </option>
                                            {volist name="city" id="cit"}
                                            <option value="{$cit.name}">{$cit.name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">包邮</label>
                                <div class="col-md-6 col-sm-6 col-xs-12 show" style="font-size: 0;">
                                    <label for="goods_shipping1" class="cb-enable selected">是</label>
                                    <label for="goods_shipping0" class="cb-disable ">否</label>
                                    <input id="goods_shipping1" type="radio" class="" name="shipping" checked="checked" value="0" >
                                    <input id="goods_shipping0" type="radio"  class="" name="shipping"  value="1" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">发票</label>
                                <div class="col-md-6 col-sm-6 col-xs-12 show" style="font-size: 0;">
                                    <label for="goods_invoice1" class="cb-enable ">是</label>
                                    <label for="goods_invoice0" class="cb-disable selected">否</label>
                                    <input id="goods_invoice1" type="radio" name="invoice"  value="0" >
                                    <input id="goods_invoice0" type="radio"  name="invoice" checked="checked" value="1" >
                                    <span class="notic" style="display: inline; margin-left: 2em;">是否开增值税发票</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">包退</label>
                                <div class="col-md-6 col-sm-6 col-xs-12 show" style="font-size: 0;">
                                    <label for="goods_repts1" class="cb-enable selected">是</label>
                                    <label for="goods_repts0" class="cb-disable">否</label>
                                    <input id="goods_repts1" type="radio" name="repts" checked="checked" value="0" >
                                    <input id="goods_repts0" type="radio"  name="repts"  value="1" >
                                    <span class="notic" style="display: inline; margin-left: 2em;">产品7天包退</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">推荐</label>
                                <div class="col-md-6 col-sm-6 col-xs-12 show" style="font-size: 0;">
                                    <label for="goods_recommend1" class="cb-enable selected">是</label>
                                    <label for="goods_recommend0" class="cb-disable">否</label>
                                    <input id="goods_recommend1" type="radio" name="recommend" checked="checked" value="0" >
                                    <input id="goods_recommend0" type="radio"  name="recommend" value="1" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">商品所属</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="checkbox" class="flat" name="prom[]" value="1" checked data-parsley-multiple="gender" style="position: absolute; opacity: 0;"><label>&nbsp;普通</label>&nbsp;
                                    <input type="checkbox" class="flat" name="prom[]" value="2" data-parsley-multiple="gender" style="position: absolute; opacity: 0;"><label>&nbsp;秒杀</label>&nbsp;
                                    <input type="checkbox" class="flat" name="prom[]" value="3" data-parsley-multiple="gender" style="position: absolute; opacity: 0;"><label>&nbsp;促销</label>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">商品发布</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="radio" class="flat" name="gender" value="1" checked data-parsley-multiple="gender" style="position: absolute; opacity: 0;"><label>&nbsp;立即发布</label>

                                    <input type="radio" class="flat" name="gender" value="2" data-parsley-multiple="gender" style="position: absolute; opacity: 0;"><label>&nbsp; 定时发布</label> &nbsp;
                                    <div class="input-append date form_datetime" data-date="">
                                        <input type="text" class="form-control has-feedback-right active" id="single_cal1" name="starttime" aria-describedby="inputSuccess2Status" disabled>
                                        <span class="add-on"><i class="icon-th"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    {:token()}
                                    <button class="btn btn-success submits">确认提交</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<!--ueditor-->
<script src="/static/ueditor/ueditor.config.js"></script>
<script src="/static/ueditor/ueditor.all.min.js"></script>

<script src="http://www.bootcss.com/p/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script>

    $(document).on('ifChecked','input[name="gender"]',function() {
        var v = $(this).val();

        if(v == 2) {
            $('#single_cal1').attr('disabled',false);
            //日历插件
            $('#single_cal1').datetimepicker({format: 'yyyy-mm-dd hh:ii',autoclose: true,lang:'ch'});
        } else {
            $('#single_cal1').attr('disabled',true);
        }
    });

    //百度富文本
    var opt = {
        'toolbars' : [
            [
                'source', '|', 'bold', 'italic', 'underline', 'strikethrough', '|', 'paragraph', 'fontfamily', 'fontsize', 'forecolor', '|', 'justifyleft', 'justifyright',
                'justifycenter', 'justifyjustify','insertorderedlist', 'insertunorderedlist', '|', 'horizontal', 'inserttable', 'link', 'fullscreen', 'insertimage', 'removeformat', 'preview'
            ]
        ],
        // initialFrameWidth: 800,
        initialFrameHeight : 500,
        focus : false,
        wordCount:false,
        elementPathEnabled :false
    };
    var editor = new UE.ui.Editor(opt);
    editor.render('editor');


    // checked选择器
    $(document).on('click', '.cb-enable,.cb-disable', function(){
        var show = $(this).parents('.show');
        if($('.cb-enable',show).is('.selected')){
            $('.cb-enable', show).removeClass('selected');
            $(this).addClass('selected');
        }else{
            $('.cb-disable', show).removeClass('selected');
            $(this).addClass('selected');
        }
    });

    //上传宝贝图片
    $(document).on('change', '.file-goods', function () {

        var formData = new FormData();

        formData.append('images', $(this)[0].files[0]);

        $.ajax({
            url: '/admin/upload/goods',
            type: 'POST',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData : false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType : false,
            success: function (data) {

                var reg = /[\u4E00-\u9FA5\uF900-\uFA2D]/gi;

                if(reg.exec(data)) {

                    layer.msg(data,{icon:2, time:1500});

                    return false;
                };

                $('input.file-img').val(data + '_430x430.jpg');

                var html = '<img src="'+ data + '_430x430.jpg" width="120" > <input type="hidden" name="goods_images[]" value="' + data + '">';

                $('.adimageser').prepend('<div class="adimages">' + html + '</div>');

                if($('.adimages').size() > 6) {

                    $('.file-goods').attr('disabled',true);

                    $('.uploader-text').css('background', '#ccc');

                    $('.adimages:last').remove();
                }
            }
        });
    });
</script>
{/block}