{extend name="common/base" /}
{block name="title"}添加商品{/block}
{block name="main"}
<style>
    ul.cgtype {
        float: left;
        padding: 5px 0;
        width: 250px;
        height: 210px;
        min-height: 210px;
        overflow-y: scroll;
    }
    ul.first li {
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
        color: #626262;
        cursor: pointer;
    }
    ul.first li.active {
        background: #fd8340;
        color: #fff;
    }
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h5>商品 > <a href="/admin/goods">商品列表</a> > 商品发布</h5>
                        <div class="nav navbar-right panel_toolbox">
                            <a href="/admin/goods"><i class="fa fa-list"></i> 返回</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="myForm" class="form-horizontal form-label-left" action="/admin/goods/add">
                            <!--demo-form2-->
                            <div class="center-block" style="width: 400px; border: 1px solid #e5e5e5">
                                <b style="display: block; padding: 5px 0; text-align: center; background: #f7f7f7;">请选择要添加的商品类别……</b>
                                <div class="wrap" style="display: table; margin: 20px auto; border: 1px solid #e5e5e5;">
                                    <ul class="cgtype first">
                                        {volist name="cate" id='vo'}
                                        <li class="cate_id cate" cate-data="<?php echo '{tid:1,cid:'; ?>{$vo.id}<?php echo '}'; ?>">{$vo.name}</li>
                                        {/volist}
                                    </ul>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <p style="border-bottom: 1px dashed #c0c0c0; margin:10px auto; width: 500px; text-align: center; line-height: 28px;" class="binding"></p>
                            <div class="form-group" style="width:25pc;margin:auto;text-align:center;">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <input type="hidden" name="cate">
                                    <button class="btn btn-success">下一步</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}