{extend name="common/base" /}
{block name="title"}首页{/block}
{block name="main"}
<style>
    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    .right_col .alert {
        border-radius: 0;
        border-left: 3px solid #ed4e2a;
    }
    .small-box {
        overflow: visible;
        line-height: 2.25;
        background: #fff;
        color: #4b4b4b;
        margin-bottom: 1.9rem;
        border-radius: .375rem;
        box-shadow: 0 2px 12px 0 #dfe3eb;
        font-weight: 400;
    }
    .icon-container {
        height: 100%;
        padding: .85rem;
        display: inline-block;
    }
    .icon {
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 8rem;
        height: 6.5rem;
        font-size: 5rem;
        border-radius: 0.575rem;
        transition: width .4s ease;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        color: #fff;
    }
    .icon.primary {
        background-image: linear-gradient(90deg, #b57fff, #8a7fff);
        box-shadow: 0 0 0 0 #896ddb, 0 0 0 0 #9f7fff;
    }
    .icon.success {
        background-image: linear-gradient(90deg,#40dcb2,#40dc7e);
        box-shadow: 0 0 0 0 #37bd83, 0 0 0 0 #40dc98;
    }
    .icon.warning {
        background-image: linear-gradient(90deg,#fc0,#ffa100);
        box-shadow: 0 0 0 0 #db9d00, 0 0 0 0 #ffb600;
    }
    .icon.info {
        background-image: linear-gradient(90deg,#4cc4ff,#4ca6ff);
        box-shadow: 0 0 0 0 #419cdb, 0 0 0 0 #4cb5ff;
    }

    .value.tab-menu {
        display: inline-block;
        text-align: center;
    }
    .status {
        font-size: 2.5rem;
        line-height: 1.3rem;
        font-family: Exo;
        font-weight: 600;
        color: #2a2a2a;
    }
    .title {
        font-weight: 300;
        text-transform: uppercase;
        color: #a4abb3;
    }
    table.os {
        margin: .75rem 0;
        width: 100%;
    }
    table.os tr.odd {
        background: #f5f7fc;
    }
    table.os tr {
        border-bottom: 1px solid #ebeef2;
    }

    table.os tr td {
        padding: 9px 12px;
        border: 1px solid #ebeef2;
        vertical-align: middle;
    }
    .section_order_select {
        padding: 10px;
        margin: 3% 4%;
        height: 135px;
        background: #fff;
    }
    .section_order_select:hover {
        border: 1px solid #d1d1d1;
        box-shadow: 0 0 5px #d1d1d1;
    }
    .section_order_select a {
        display: block;
        padding: 18px 0 20px;
        color: #707070;
    }
    .section_order_select a i.fa {
        width: 100%;
        text-align: center;
        font-size: 35px;
    }
    .section_order_select a .t {
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
        line-height: 16px;
    }
    .row .number {
        display: block;
        margin-top: 8px;
        text-align: center;
    }
    .row .fa-comments-o, .row .number {
        color: #ff6700;
    }
    i.fa-pencil-square-o {
        color: #8BC34A;
    }
    i.fa.fa-truck {
        color: #2196F3;
    }
    i.fa.fa-universal-access {
        color: #9C27B0;
    }
    i.fa-life-ring {
        color: #ff0069;
    }
    i.fa.fa-fighter-jet {
        color: #e4eaec;
    }
</style>
<div class="right_col" role="main" style="min-height: 1376px;">
    <div class="">
        {notempty name='affiche'}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5 class="ng-binding">{$affiche}</h5>
        </div>
        {/notempty}
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="small-box">
                    <div class="icon-container">
                        <div class="icon primary">
                            <i class="fa fa-calendar-o"></i>
                        </div>
                    </div>
                    <div class="value tab-menu">
                        <div class="status"><a href="/admin/goods" >{$goods}</a></div>
                        <div class="title">商品数</div>
                    </div>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="small-box">
                    <div class="icon-container">
                        <div class="icon success">
                            <i class="fa fa-clipboard"></i>
                        </div>
                    </div>
                    <div class="value tab-menu">
                        <div class="status"><a href="/admin/orders" >{$orders}</a></div>
                        <div class="title">总订单</div>
                    </div>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="small-box">
                    <div class="icon-container">
                        <div class="icon info">
                            <i class="fa fa-ambulance"></i>
                        </div>
                    </div>
                    <div class="value tab-menu">
                        <div class="status"><a href="/admin/orders/sphipping" >{$orders_t}</a></div>
                        <div class="title">待发货</div>
                    </div>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="small-box">
                    <div class="icon-container">
                        <div class="icon warning">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="value tab-menu">
                        <div class="status"><a href="/admin/users" >{$users}</a></div>
                        <div class="title">会员</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-12 col-xs-12" style="padding:0;">
                <div class="col-lg-5 col-sm-3 col-xs-3 section_order_select">
                    <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <div class="t">今日订单</div>
                        <span class="number">{$d_orders}</span>
                    </a>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-3 section_order_select">
                    <a href="javascript:;">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        <div class="t">订单运输中…</div>
                        <span class="number">{$orders_shipping}</span>
                    </a>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-3 section_order_select">
                    <a href="/admin/orders/refund">
                        <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                        <div class="t">退货中</div>
                        <span class="number">{$orders_o}</span>
                    </a>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-3 section_order_select">
                    <a href="/admin/content/">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                        <div class="t">留言</div>
                        <span class="number">{$comment}</span>
                    </a>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-3 section_order_select">
                    <a href="/admin/userlog">
                        <i class="fa  fa-life-ring" aria-hidden="true"></i>
                        <div class="t">总访问</div>
                        <span class="number">{$log}</span>
                    </a>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-3 section_order_select">
                    <a href="javascript:;">
                        <i class="fa fa-universal-access" aria-hidden="true"></i>
                        <div class="t">今日访问</div>
                        <span class="number">{$login_d}</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>销售报表 <small>日订单趋势</small></h2>
                        <div class="filter">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" id="container" style="widows: 100%; min-width:400px;height:400px">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-cogs"></i><small>系统配置</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="os">
                            <tbody>
                            {volist name='os' id='os' mod='2'}
                            <tr {eq name='mod' value='0'} class="odd" {/eq}>
                                <td class="col-sm-3">{$os.name}</td>
                                <td>{$os.value}</td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> <i class="fa fa-copyright"></i> <small>版权信息</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="tab">

                            <table class="os">
                                <tbody>
                                {volist name='copy' id='copy' mod='2'}
                                <tr {eq name='mod' value='0'} class="odd" {/eq}>
                                    <td class="col-sm-3">{$copy.name}</td>
                                    <td>{$copy.value}</td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="/static/highcharts/code/highcharts.js"></script>
<script>
    var ca = document.cookie.split(';');
    for(var i =0; i < ca.length; i++)
    {
        var c = ca[i].trim();
        if(c.indexOf('danger=') == 0) $('.alert-danger').hide();
    }

    $('.close').on('click',function () 
    {
        $('.alert-danger').hide();
        var time = new Date();
        var curdaty = new Date().toLocaleDateString();  //当前日期
        var curwebhours =  new Date(curdaty).getTime() + (24 * 60 * 60 * 1000) -1;  //当日24点时间戳
        time.setTime(curwebhours);
        document.cookie="danger=lock; expires=" + time.toUTCString() + ';Path=/';       //设置cookie
    });
    $(function () {
        $('#container').highcharts(
            {$highcharts}
        );
    });
</script>
<!-- /Flot -->
{/block}
