{extend name="common/base" /}
{block name="title"}个人中心｜{$SiteaName}{__block__}{/block}
{block name="content"}
<link rel="stylesheet" href="/index/css/main.min.css">
<div class="breadcrumbs">
    <div class="container">
        <a href="/">首页</a>
        <span class="sep">&gt;</span>
        <span>我的订单</span>
    </div>
</div>
<div class="page-main user-main">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="uc-box uc-sub-box">
                    <div class="uc-nav-box">
                        <div class="box-hd">
                            <h3 class="title">个人中心</h3>
                        </div>
                        <div class="box-bd">
                            <ul class="uc-nav-list">
                                <li>
                                    <a href="/user.shtml">个人中心</a>
                                </li>
                                <li>
                                    <a href="/user/address.shtml">收货地址</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="uc-nav-box">
                        <div class="box-hd">
                            <h3 class="title">订单中心</h3>
                        </div>
                        <div class="box-bd">
                            <ul class="uc-nav-list">
                                <li class="active">
                                    <a href="/user/order.shtml">我的订单</a>
                                </li>

                                <li>
                                    <a href="/user/comment/">评价晒单</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span16">
                <div class="uc-box uc-main-box">
                    <div class="uc-content-box order-list-box">
                        <div class="box-hd">
                            <h1 class="title">我的订单<small>请谨防钓鱼链接或诈骗电话，<a href="//www.mi.com/service/buy/antifraud/" target="_blank">了解更多&gt;</a></small></h1>
                            <div class="more clearfix">
                                <ul class="filter-list J_orderType">
                                    <li class="first <?php if(empty($type) and $type !== '0') echo 'active'; ?>"><a href="/user/order.shtml">全部订单</a></li>
                                    <li {eq name="$type" value="0"}class="active"{/eq}><a id="J_unpaidTab" href="/user/order.shtml?type=0" data-type="0">待支付 ( {$order_status_0} )</a></li>
                                    <li {eq name="$type" value="2"}class="active"{/eq}><a id="J_unpaidTab" href="/user/order.shtml?type=2" data-type="2">待发货 ( {$order_status_2} )</a></li>
                                    <li {eq name="$type" value="3"}class="active"{/eq}><a id="J_sendTab" href="/user/order.shtml?type=3" data-type="3">待收货 ( {$order_status_3} )</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="box-bd">
                            <div id="J_orderList">
                                <div class="loading hide"><div class="loader"></div></div>
                            </div>
                            <div id="J_orderListPages">
                                <ul class="order-list">
                                    {volist name="OrdersGoods" id="or"}
                                    <li class="uc-order-item {eq name='$or.order_status' value='0'}uc-order-item-pay{else /}uc-order-item-finish{/eq}">
                                        <div class="order-detail"><div class="order-summary">
                                            {eq name="or.order_status" value="0"}
                                            <div class="order-status">等待付款</div>
                                            <p class="order-desc J_deliverDesc">
                                                现在支付，预计2-3天送达
                                                <span class="beta">Beta</span>
                                            </p>
                                            {else /}
                                                 <div class="order-status">{if condition="$or.order_status eq 2"}未发货{elseif condition="$or.order_status eq 3"}待收货{elseif condition="$or.order_status eq 4"}已收货{elseif condition="$or.order_status eq 5"}退货中{else /} 订单完成{/if}</div>
                                            {/eq}
                                        </div>
                                            <table class="order-detail-table">
                                                <thead>
                                                    <tr>
                                                        <th class="col-main">
                                                            <p class="caption-info">
                                                               {$or.order_time|date="Y-m-d H:i:s",###}
                                                                <span class="sep">|</span>
                                                                {$or['Address']['user_name']}
                                                                <span class="sep">|</span>
                                                                订单号：{$or.order_sn}
                                                                <span class="sep">|</span>
                                                                在线支付
                                                            </p>
                                                        </th>
                                                        <th class="col-sub">
                                                            <p class="caption-price">
                                                                订单金额：
                                                                <span class="num">{$or.order_price}</span>
                                                                元
                                                            </p>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="order-items">
                                                            <ul class="goods-list">
                                                                {volist name="or.order_goods" id="go"}
                                                                <li>
                                                                    <div class="figure figure-thumb">
                                                                        <a href="/goods/{$go.goods_id}.shtml" target="_blank">
                                                                            <img src="{$go['goodsimages']['imageurl']}" width="80" height="80" alt="MI/小米 红米 Note 3 全网通 手机 2GB＋16G标准版 深灰"></a>
                                                                    </div>
                                                                    <p class="name">
                                                                        <a target="_blank" href="/goods/{$go.goods_id}.shtml">{$go.goods_name} {$go.spec_key_name}</a>
                                                                    </p>
                                                                    <p class="price">{$go.goods_price} 元 × {$go.goods_num}</p>
                                                                </li>
                                                                {/volist}
                                                            </ul>
                                                        </td>
                                                        <td class="order-actions">
                                                            {eq name="or.order_status" value="0"}<a class="btn btn-small btn-primary" href="/payment/{$or.id}.shtml" target="_blank">立即支付</a>{/eq}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="/index/js/address_all.js"></script>
<script src="/index/js/address.js"></script>
{/block}}