<div class="uc-nav-box">
    <div class="box-hd">
        <h3 class="title">个人中心</h3>
    </div>
    <div class="box-bd">
        <ul class="uc-nav-list">
            <li class="active">
                <a href="/user.shtml">个人中心</a>
            </li>
            <li>
                <a href="/user/address.shtml">收货地址</a>
            </li>
        </ul>
    </div>
</div>
<div class="uc-nav-box">
    <div class="box-hd">
        <h3 class="title">订单中心</h3>
    </div>
    <div class="box-bd">
        <ul class="uc-nav-list">
            <li>
                <a href="/user/order.shtml">我的订单</a>
            </li>

            <li>
                <a href="/user/comment/">评价晒单</a>
            </li>

        </ul>
    </div>
</div>