{extend name="common/base" /}
{block name="title"}编辑广告{/block}
{block name="main"}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h5>商品 > <a href="/admin/ad">广告管理</a> > 编辑广告</h5>
                        <div class="nav navbar-right panel_toolbox">
                            <a href="/admin/ad"><i class="fa fa-list"></i> 返回</a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="myForm" class="form-horizontal form-label-left" data-url="/admin/ad/save" onsubmit="return false">
                            <!--demo-form2-->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">广告名称</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12" placeholder="广告名称" name="ad_name" value="{$ad.ad_name}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">广告位置</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="selectbox form-group">
                                        <select class="form-control select" name="pid">
                                            <option>请选择……</option>
                                            {volist name="list" id="vo"}
                                            <option value="{$vo.id}" {eq name="$ad.pid" value="$vo.id"}selected{/eq}>{$vo.name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">上传广告图片</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="col-sm-12 imgFile" style="padding-left: 0; margin-bottom: 4px;">
                                        <input class="form-control file-img" name="ad_code" placeholder="广告图片" style="text-indent: 1.5rem;" value="{$ad.ad_code}">
                                        <i class="fa fa-picture-o imgFile-ico" style="padding-left: 5px;" onmouseover="mouseover(this)" onmouseout="layer.closeAll();"></i>
                                        <span class="imgpicker">
                                            <span class="uploader-text">选择上传…</span>
                                            <input type="file" class="file-invisible file-brand" name="image" accept="image/jpg,image/jpeg,image/png">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">背景颜色</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="input-group demo2 colorpicker-element">
                                        <input type="text" name="bgcolor" class="form-control" value="{$ad.bgcolor}">
                                        <span class="input-group-addon"><i style="background-color: rgb(224, 26, 181);"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">广告链接</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="selectbox form-group">
                                        <input type="text" class="form-control col-md-7 col-xs-12" placeholder="广告链接" name="ad_link" value="{$ad.ad_link}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">默认排序</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12" value="{$ad.orderby}" name="orderby">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">是否显示</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div>
                                        <label>
                                            <input name="enabled" type="checkbox" class="js-switch"  data-switchery="true" {eq name="$ad.enabled" value="1"}checked{/eq} style="display: none;" value="1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <input type="hidden" name="id" value="{$ad.id}">
                                    {:token()}
                                    <button class="btn btn-success submits">确认提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    $(document).ready(function() {
        $('.demo2').colorpicker({flat: true});
    });
</script>
{/block}}