{extend name="common/base" /}
{block name="title"}商品详情｜{$SiteaName}{__block__}{/block}
{block name="content"}
<link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
<style>
	ul, li, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
		margin: 0;
		padding: 0;
	}
	.hd{
		display: none;
	}
	.site-header .nav-category .link-category {
		visibility: initial;
	}
	.divright {
		float: right;
	}
</style>
	<link rel="stylesheet" href="/index/css/login.css">
	<link rel="stylesheet" href="/index/css/goods.css">
	<div class="content">
		<div class="module-body clearfix">
			<div class="detail">
				<!-- 商品 -->
				<div class="detail-bg">
					<div class="detail-clear">
						<!-- 商品相册 -->
						<div class="tb-gallery">
							<!-- 商品大图 -->
							<div class="tb-booth-img">
								<img class="imgBooth" src="{$goodsimageslist[0]['imageurl']}_430x430.jpg" jsdata="{$goodsimageslist[0]['imageurl']}">
								<span class="jqzoompup" style="top: 200.602px; left: 0.510325px; display: none;"></span>
							</div>
							<!-- 商品小图 -->
							<div class="tb-hide-img">
								<a href="javascript:;"></a>
								<div class="hide-box">
									<ul class="small-hide">
										{volist name="goodsimageslist" id="vo"}
										<li {eq name="$i" value="1"}class="active"{/eq}>
											{eq name="$i" value="1"}<i class="iconfont">&#xe60f;</i>{/eq}
											<img src="{$vo.imageurl}_60x60.jpg" jsdata_img="{$vo.imageurl}">
										</li>
										{/volist}
									</ul>
								</div>
								<a href="javascript:;"></a>
							</div>
							<!-- 收藏商品 -->
							<div class="tb-actions">
								<a href="javascript:;">
									<i class="fa fa-star"></i>
									<span>收藏商品</span>
								</a>
								<span>(52318人气)</span>
								<a href="javascript:;" class="share divright">
									<i class="fa fa-share-alt"></i>
									<span>分享</span>
								</a>
							</div>
						</div>
						<div class="tb-wrap">
							<div class="tb-detail-hd">
								<h5>{$data.name}</h5>
								<!-- 幅标题 -->
								<div class="newp">{$data.remark}</div>
							</div>
							<div class="tb-price-con">
								<div class="tb-price-le">
									<div class="tb-price">
										<dl>
											<dt>市场价</dt>
											<dd class="tb-price-panel">￥{$data.market_price}</dd>
										</dl>
										<dl>
											<dt style="line-height: 36px;">促销价</dt>
											<dd class="price"><em>￥</em>{$data.price}</dd>
										</dl>
									</div>
									<div class="tb-price-rg divright">
										<div class="allcomm">
											<p>累计评价</p>
											<p class="f_null"><a href="javascript:;" class="f_null">{$data.note_num}</a></p>
										</div>
										<span class="br1"></span>
										<div class="allcomm">
											<p>月销量</p>
											<p class="f_null">{$data.sales_sum}</p>
										</div>
									</div>
								</div>
							</div>
							<!--<div class="standard">
								<dl>
									<dt class="tb-metatit">配送 :</dt>
									<dd>
										<span class="city">广东省 - 广州市</span>
										&nbsp;至&nbsp;
										<span>镇江 - 京口</span>
										<div class="tb-postAge">
											<span>快递：0.00</span>
										</div>
									</dd>
								</dl>
							</div>-->
							<!-- 规格 -->
							<div class="goodsattr-key">
								<div class="ga-skin">
									{volist name="keys" id="vo"}
									<dl class="goods_prop">
										<dt class="tb-metatit">{$key}</dt>
										<dd>
											<ul>
												{volist name="vo" id="v2"}
												<li {eq name="$i" value="1"}class="tb-selected"{/eq} data-value="{$v2.key}" title="{$v2.item}"><a href="javascript:;"><span>{$v2.item}</span></a></li>
												{/volist}
											</ul>
										</dd>
									</dl>
									{/volist}
									<dl class="goods_prop">
										<dt class="tb-metatit">数量</dt>
										<dd>
											<span class="minus-plus">
												<input type="text" class="buyNum" name="goods_num" value="1" maxlength="5" max="{$data.count}">
												<span class="mins">
													<a href="javascript:goodsnum(+1);" class="min">+</a>
													<a href="javascript:goodsnum(-1);" class="min">-</a>
												</span>
											</span>
											<span class="goods-store-count">
												库存 : <em>{$data.count}</em>
											</span>
										</dd>
									</dl>
									<div class="tb-action">
										<a href="javascript:;" class="goods-next tb-goods-pay" title="下一步确认购买信息，完成支付">立即购买</a>
										<a href="javascript:;" class="goods-next tb-goods-basket">加入购物车</a>
									</div>
								</div>
								<form id="buy_goods_form" name="buy_goods_form" method="post">
									<!--商品id-->
									<input type="hidden" name="goods_id" value="{$data.id}">
									<!-- 商品名称 -->
									<input type="hidden" name="name" value="{$data.name}">
									<!-- 商品规格id -->
									<input type="hidden" name="goodsseec_id" class='goodsseec' value="">
									<!-- 商品规格 中文键名 -->
									<input type="hidden" name="key_name" value="">
									<!-- 数量 -->
									<input type="hidden" name="store_count" value="">
									<!-- 价格 -->
									<input type="hidden" id="price" name="price" value="">
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="db">
					<!-- 产品热卖 -->
					<div class="deta-le-ma">
						<div class="ma-to">
							<h5><b>产品热卖</b></h5>
						</div>
						{volist name="sales" id="vo"}
						<div class="alone-xm">
							<p class="line-two-title"><a href="/goods/{$vo.id}.shtml">{$vo.name}</a></p>
							<a href="/goods/{$vo.id}.shtml"><img src="{$vo['goodsimages']['imageurl']}_430x430.jpg" style="display: inline;width: 206px;"></a>
							<p class="price-tag"><a href="/goods/{$vo.id}.shtml"><span class="li_xfo">￥</span><span>{$vo.price}</span></a></p>
						</div>
						{/volist}
					</div>
					<!-- 详情页、评论 -->
					<div class="deta-ri-ma">
						<div class="deta-tb-tabbarbox">
							<ul>
								<li class="active"><a href="javascript:;">商品详情</a></li>
								<!--<li><a href="javascript:;">规格参数</a></li>-->
								<li><a href="javascript:;">累计评价 <em class="f_null">&nbsp;5</em></a></li>
							</ul>
						</div>
						<div class="deta-tb-bg" style="display: none;"></div>
						<!-- 产品参数 -->
						<div class="goodsattr-list">
							<div class="brandattr">
								<div class="brandname">品牌名称 :
									<a href="javascript:;" class="f_null">{$data['Brand']['name']}</a>
								</div>
							</div>
							<div class="goodsattr-list-hd">
								<em>产品参数</em>
								<a href="javascript:;" class="divright"><span>更多参数</span> <i class="fa fa-chevron-circle-right"></i></a>
							</div>
							<ul class="goods-attrul">
								<li>商品货号 : {$data.serial}</li>
								{volist name="attr" id="vo"}
								<li>{$vo}</li>
								{/volist}
							</ul>
						</div>
						<div class="goods-detail details">
							<h4 class="hd">商品详情</h4>
							<div class="detail-content">
								<div style="float: left;margin-top: 6.0px;">
									{$data.content|htmlspecialchars_decode}
								</div>
							</div>
						</div>
						<!--<div class="goods-attrul details" style="display: none;">-->
							<!--这是规格参数页面-->
						<!--</div>-->
						<div class="goods-note details" style="display: none;">
							<h4 class="hd">商品评论</h4>
							<div class="goodsnote-tb">
								<div class="note-tb-header">
									<div class="note-tb-rate left">
										<h5>好评率</h5>
										<strong>8.9</strong>
										<p>
											<i class="iconfont">&#xe67c;</i>
											<i class="iconfont">&#xe67c;</i>
											<i class="iconfont">&#xe67c;</i>
											<i class="iconfont">&#xe67c;</i>
											<i class="iconfont">&#xe60b;</i>
										</p>
									</div>
									<div class="note-tb-rate right">
										<div class="rate-progress">
											<span style="left: 89%">
												<em>89%</em>
												<i class="tab-foot-arr">◆</i>
											</span>
											<ol class="graph-desc">
												<li>1</li>
												<li>4</li>
												<li>6</li>
												<li>8</li>
												<li>10</li>
											</ol>
										</div>
										<ol class="graph-desc" style="margin-left: 10px;">
											<li>非常不满</li>
											<li>不满意</li>
											<li>一般</li>
											<li>满意</li>
											<li>非常满意</li>
										</ol>
									</div>
								</div>
								<div class="note-tb-list">
									<!-- <div class="content">该商品还没有人写评论哦~</div> -->
									<div class="rate-filter">
										<a class="active" href="javascript:;">全部评论</a>
										<a href="javascript:;">好评 (5)</a>
										<a href="javascript:;">中评 (1)</a>
										<a href="javascript:;">差评 (0)</a>
										<a href="javascript:;">有图 (2)</a>
									</div>
									<!-- 评论楼 -->
									<ul class="note-comment-people">
										<li>
											<div class="note-col">
												<div class="note-full-txt">非常快 昨天下单今天就到了 正在试呢 官方买的 肯定是正品 屏幕上方有点泛黄</div>
												<div class="note-full-images">
													<ul>
														<li data-src="https://img.alicdn.com/bao/uploaded/i3/2632692395/TB28.Q4XZ0051JjSZFDXXXnLpXa_!!0-rate.jpg_400x400.jpg">
															<img src="https://img.alicdn.com/bao/uploaded/i3/2632692395/TB28.Q4XZ0051JjSZFDXXXnLpXa_!!0-rate.jpg_40x40.jpg" alt="">
														</li>
														<li data-src="https://img.alicdn.com/bao/uploaded/i1/2632692395/TB2QJWsasz85uJjSZFoXXXjcpXa_!!0-rate.jpg_400x400.jpg">
															<img src="https://img.alicdn.com/bao/uploaded/i1/2632692395/TB2QJWsasz85uJjSZFoXXXjcpXa_!!0-rate.jpg_40x40.jpg" alt="">
														</li>
													</ul>
													<div class="photo-viewer" style="display:none;">
														<img src>
														<!-- 当图片大于2时显示 -->
														<a href="javascript:;" class="photo-viewe-prev">
															<i class="fa fa-angle-left"></i>
														</a>
														<a href="javascript:;" class="photo-viewer-next">
															<i class="fa fa-angle-right"></i>
														</a>
													</div>
												</div>
												<div class="note-full-date">17-11-03</div>
											</div>
											<div class="note-full-meta">
												<p><span>网络类型 :</span>无需合约版</p>
												<p><span>颜色 :</span>深空灰色</p>
												<p><span>存储容量：</span>128G</p>
											</div>
											<div class="note-full-info">
												最<span>***</span>姝<span>&nbsp;(匿名)</span>
											</div>
										</li>
										<li>
											<div class="note-col">
												<div class="note-full-txt">小巧做工精致，放在口袋刚刚好！运行速度流畅，喜欢小屏的小伙伴赶紧入手哦！</div>
												<div class="note-full-images">
													<ul>
														<li data-src="//img.alicdn.com/bao/uploaded/i4/2496920140/TB2rZtQqrsTMeJjSszhXXcGCFXa_!!0-rate.jpg_400x400.jpg">
															<img src="https://img.alicdn.com/bao/uploaded/i4/2496920140/TB2rZtQqrsTMeJjSszhXXcGCFXa_!!0-rate.jpg_40x40.jpg" alt="">
														</li>
													</ul>
													<div class="photo-viewer" style="display:none;">
														<img src>
														<!-- 当图片大于2时显示 -->
													</div>
												</div>
												<div class="note-full-date">17-10-30</div>
											</div>
											<div class="note-full-meta">
												<p><span>网络类型 :</span>无需合约版</p>
												<p><span>颜色 :</span>深空灰色</p>
												<p><span>存储容量：</span>128G</p>
											</div>
											<div class="note-full-info">
												j<span>***</span>o<span>&nbsp;(匿名)</span>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{/block}
{block name="js"}
<script>
	var spec_goods_price = {$goodsseec};
    //移动商品小图，改变商品大图
	$('ul.small-hide li').mousemove(function() {
		$jsdata = $(this).find('img').attr('jsdata_img');
		$imgBooth = $('.imgBooth').attr('src');
		$(this).addClass('active').siblings('li').removeClass('active');
		if($(this).find('i.fa').get().length == 0) {
			$(this).append("<i class='fa fa-caret-up'></i>"
		);
	};

	if($jsdata !== $imgBooth) {
		$('.imgBooth').attr(
			{'src': $jsdata + '_430x430.jpg', 'jsdata': $jsdata});
		};
	});
	//放大镜
	$('.tb-booth-img').mousemove(function(e){
		var top = $(this).offset().top;	//196
		var left = $(this).offset().left; //336.5
		var up = $(this).find('span');
		var x = e.pageX;
		var y = e.pageY;
		var ux = (x - up.width()/2 < left) ? 0 : (x - up.width()/2 - left > up.width() ? up.width() : x -up.width()/2 - left);
		var uy = (y - up.height()/2 < top) ? 0 :(y - up.height()/2 - top > up.height() ? up.height() : y - up.height()/2 - top);
		$(this).find('.jqzoompup').css({'top': uy, 'left': ux, 'display':'block'});
		callback();
		$('.zoomdiv').get(0).scrollTop = (y -up.height() / 2 - top) * ($('.zoomdiv img').get(0).offsetWidth / top);
		$('.zoomdiv').get(0).scrollLeft = (x - up.width()/2 -left) * ($('.zoomdiv img').get(0).offsetHeight / left);
	});

	function callback() {
		if($("div.zoomdiv").get().length == 0) {
			var Modal = document.createElement('div');
			Modal.className = 'zoomdiv';
			var w = $('.tb-booth-img').offset().left + $('.tb-booth-img').outerWidth() + 12;
			Modal.style = "width: 432px; height: 432px; left:" + w + "px; top: 202px;";
			Modal.innerHTML = '<img src="' + $('.imgBooth').attr('jsdata') + '" />';
			document.querySelector('body').appendChild(Modal);
		}
	};
	//移去放大镜
	$('.tb-booth-img').mouseout(function(e){
		$(this).find('.jqzoompup').css({'display':'none'});
		$('.zoomdiv').remove();
	});
	// 选择订单商品信息
	$('.goods_prop dd ul li').click(function() {
		if($(this).is('.tb-selected')) {
			$(this).removeClass('tb-selected');
		}else{
			$(this).addClass('tb-selected').siblings('li').removeClass('tb-selected');
		};
		initGoodsPrice();

	});
	//初始化价格
	function initGoodsPrice() {
	    $selected =  $('.goods_prop dd ul li.tb-selected');
	    var goodsspec = [];
        $selected.each(function () {
			goodsspec.push($(this).attr('data-value'));
        });
        var spec_key =goodsspec.sort(function(a,b){ return b - a}).join(',');
        var price = spec_goods_price[spec_key]['price'];
        var item = spec_goods_price[spec_key]['id'];

        var buyNum = $('input.buyNum').val();
        $('input.buyNum').attr('max',spec_goods_price[spec_key]['store_count']);

        $('.goods-store-count em').text(spec_goods_price[spec_key]['store_count']);
		if( spec_goods_price[spec_key]['store_count'] == 0)
		{
			$('.tb-action>a').removeClass('goods-next').addClass('disabled');
			return false;
		} else {
            $('.tb-action>a').removeClass('disabled').addClass('goods-next');
		}

		$('.price').html('<em>￥</em>' + price * buyNum);
        $('input[name=goodsseec_id]').val(item);
        $('input[name=price]').val(price*buyNum);
        $('input[name=store_count]').val(buyNum);
        $('input[name=key_name]').val(spec_goods_price[spec_key]['key_name']);
    };

	//订购量，只能是数字/不能为空，且不能大于库存值
	$('.buyNum').keyup(function() {
		var $Num = $(this).val();
		var max = parseInt($(this).attr('max'));
		if(isNaN($Num)||$Num ==false) {
			$(this).val('1');
		};
		if($Num > max) {
			$(this).val(max);
		};

        initGoodsPrice();
	});
	//订购量加减
	function goodsnum(e) {
		var Num = parseInt($('.buyNum').val());
		$('.buyNum').val(Num + e);
		$('.buyNum').keyup();
	};

	//详情页、评伦页切换
    $('.deta-tb-tabbarbox ul li').click(function() {
        $(this).addClass('active').siblings('li').removeClass('active');

        if($(this).index() != 0) {
            $('.goodsattr-list').hide();
        }else{
            $('.goodsattr-list').show();
        };

        $('.details').eq($(this).index()).show().siblings('.details').hide();

        if($(document).scrollTop() > $('.deta-ri-ma').offset().top) {
            $('html,body').animate({'scrollTop':$('.deta-ri-ma').offset().top},0);
        };

    });
	//评论切换查看
	$('.rate-filter a').click(function() {
		$(this).addClass('active').siblings('a').removeClass('active');
	});
	//详情页、评伦页切换菜单浮动
	$(window).scroll(function(){
		//滚动条滚动位移值
		var top = $(document).scrollTop();

		if(top > $('.deta-ri-ma').offset().top) {
			$('.deta-tb-tabbarbox').css({'position':'fixed', 'top': 0, 'width': $('.deta-ri-ma').width(), 'border-bottom': 'none', 'z-index': 100});
			$('.deta-tb-bg').show();
		}else{
			$('.deta-tb-tabbarbox').removeAttr('style');
			$('.deta-tb-bg').hide();
		};
	});
	//评论图片放大
	$('.note-full-images ul li').click(function() {
		var datasrc = $(this).attr('data-src');
		$(this).addClass('active').siblings('li').removeClass('active');
		$(this).closest('.note-full-images').find('.photo-viewer img').attr('src', datasrc);
		$(this).closest('.note-full-images').find('.photo-viewer').show();
	});

	$('.photo-viewer a').mousemove(function() {
		var a = $(this).closest('.note-full-images').find('ul li').length;
		var b =$(this).closest('.note-full-images').find('ul li.active').index();
		$(this).find('i').show();

		if(b == 0) {
			$('.fa-angle-left').hide();
		}else if(b + 1 >= a) {
			$('.fa-angle-right').hide();
		};

	});

	$('.photo-viewer a').mouseout(function() {
		$(this).find('i').hide();
	});

	$('.fa-angle-left').click(function() {
		PhotoViewer(-1, $(this));
	});

	$('.fa-angle-right').click(function() {
		PhotoViewer(+1, $(this));
	});

	function PhotoViewer(e, b) {
		$('.photo-viewer a').mouseout();
		var c = b.closest('.note-full-images');
		var a = c.find('ul li.active').index();
		var datasrc = c.find('ul li').eq(a + e).attr('data-src');
		c.find('ul li').eq(a + e).addClass('active').siblings('li').removeClass('active');

		$('.photo-viewer img').attr('src', datasrc);
	};

	$('.photo-viewer img').click(function() {
		$(this).parent('.photo-viewer').hide();
	});

	//加入购物车
	$(document).on('click','.goods-next',function()
	{
		var th = $(this);
		$.post('/index/cart/ajaxaddcart',$('#buy_goods_form').serialize(),function(data)
		{
	        if(!th.hasClass('tb-goods-pay'))
			{
                if(data.status == 200)
                {
                    $('span.cart-mini-num.J_cartNum').html('( ' + data.result + ' )').css({'color':'#fff','margin-left':'5px'});
                    layer.open({
                        type: 2,
                        title: '温馨提示 !',
                        area: ['500px', '250px'],
                        fixed: true, //不固定
                        content: '/goods/add_cart'
                    });
                } else {
                    layer.msg(data.msg,{icon:2, time:2000});
                }
			} else {
                location.href = '/cart.shtml';
			}
		})
	});
	//关闭
	$('.close').on("click",function(){

		$('.Userslogin-bg, .login-box').remove();
	});

	//初始化
    initGoodsPrice();
</script>
{/block}
