{extend name="common/base" /}
{block name="main"}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h5>系统设置 > <a href="/admin/link">友情链接</a> > 添加友链</h5>
                        <div class="nav navbar-right panel_toolbox">
                            <a href="/admin/link"><i class="fa fa-list"></i> 返回</a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="myForm" class="form-horizontal form-label-left" data-url="/admin/link/add" onsubmit="return false">
                            <!--demo-form2-->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">网站名称</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12" placeholder="网站名称" name="name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">网站链接</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12" value="http://" name="url">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">站长Email</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="eail" class="form-control col-md-7 col-xs-12" placeholder="站长Email" name="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">默认排序</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12" value="100" name="sort">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">是否显示</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div>
                                        <label>
                                            <input name="isshow" type="checkbox" class="js-switch" checked data-switchery="true" value="1" style="display: none;">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    {:token()}
                                    <button class="btn btn-success submits">确认提交</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}