{extend name="common/base"}
{block name="main"}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h5>系统 > 友情链接</h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="clearfix" style="padding-bottom: 10px;">
                            <a href="/admin/link/add" class="btn btn-sm btn-primary">
                                <i class="fa fa-save"></i>
                                添加
                            </a>
                        </div>
                        <form id="myForm">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>中文域名</th>
                                    <th>域名</th>
                                    <th>是否显示</th>
                                    <th>排序</th>
                                    <th>操作 </th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="list" id="vo"}
                                <tr>
                                    <td scope="row" class="id">{$vo.id}</td>
                                    <td class="name">{$vo.name}</td>
                                    <td class="url"><a class="bluer" href="{$vo.url}" target="_blank">{$vo.url}</a></td>
                                    <td class="isshow">
                                        <i class="fa {eq name='$vo.isshow' value='1'}fa-check-circle{else /}fa-times-circle{/eq}"></i>
                                    </td>
                                    <td class="sort">{$vo.sort}</td>
                                    <td class="smart-actions">
                                        <a class="btn btn-info btn-xs action-link"><i class="fa fa-pencil"></i> 编辑 </a>
                                        <a data-url="/admin/link/del/id/{$vo.id}" class="btn btn-danger btn-xs action-delete"><i class="fa fa-trash-o"></i> 删除 </a>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{/block}}