.searchbox{
	display: none;
}
.content{
	background: #fff;
}
.detail{
    margin: 20px auto;
    width: 1230px;
}
.search-path {
    margin: 20px 0 14px 0;
}
.search-path i.color-mark {
    display: inline-block;
    margin-top: 2px;
    float: left;
    background-color: #ff0036;
    width: 5px;
    height: 14px;
    margin-right: 6px;
}
.search-path a:hover{
	color: #ff0036;
}
.search-path span {
    color: #999999;
}
.detail-bg {
	margin: 20px 0;
    width: 990px;
    position: relative;
    min-height: 600px;
}
.tb-gallery {
    float: left;
    width: 460px;
}
/*********商品信息***************/
.tb-booth-img {
    width: 438px;
    height: 438px;
    border: 1px solid #efefef;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
span.jqzoompup {
	position: absolute;
	width: 215px;
	height: 215px;
    background-attachment: scroll;
    background-repeat: repeat;
    cursor: move;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    background-position: 0 0;
    background: url(/index/images/jqzoompup.png);
}
.zoomdiv {
    position: absolute;
    border: 1px solid #ccc;
    overflow: hidden;
    text-align: center;
    z-index: 1999;
    background-color: #fff;
}
/*小图*/
ul.small-hide {
    text-align: center;
    margin-left: -16px;
    white-space: nowrap;
    position: relative;
    transition: left .2s cubic-bezier(0,0,.25,1);
    font-size: 0;
}
ul.small-hide li{
	display: inline-block;
    margin: 0 0 0 16px;
    padding-top: 22px;
}
ul.small-hide li.active {
    position: relative;
}
ul.small-hide li.active i.fa{
    position: absolute;
    top: 11px;
    left: 44%;
    font-size: 16px;
    color: #ff0036;
}
ul.small-hide li img {
    border: 2px solid transparent;
    width: 56px;
    height: 56px;
}
ul.small-hide li.active img{
    border: 2px solid #ff6700;
}
.tb-actions {
    padding: 38px 40px 25px;
    color: #999;
}
.tb-actions a {
    color: #999;
}
/*商品订购*/
.tb-wrap {
	margin: 0 0 0 460px;
    padding: 0 0 10px;
    width: 530px;
    height: 596px;
    color: #666;
}
.tb-wrap dl{
	margin: 0;
}
.tb-detail-hd {
    padding: 20px 10px 12px;
}
.tb-wrap h5 {
	margin-bottom: .2em;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    line-height: 1;
}
.tb-detail-hd .newp {
    font-size: 14px;
    color: #FF0036;
}
.tb-price-le {
    margin: 10px 0;
    font-size: 14px;
    padding: 10px 10px 0;
    overflow: hidden;
    background: #f7f7f7;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/index/images/price-pg.png);
}
.tb-price {
    float: left;
}
.tb-price-le dl {
    width: 250px;
}
.tb-price-le dl dt {
    float: left;
    line-height: 20px;
    width: 82px;
    letter-spacing: 6px;
    color: #666;
    font-size: 12px;
}
.tb-price-le dl dd {
    vertical-align: middle;
    font-size: 30px;
    color: #ff6700;
    font-weight: bolder;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
}
.tb-price-le dl dd em {
	vertical-align: middle;
    font-size: 18px;
}
.tb-price-le dl dd.tb-price-panel{
	height: 20px;
    font-size: 14px;
    color: #333;
    text-decoration: line-through;
}
.allcomm {
	margin: 0 10px;
    float: left;
    text-align: center;
}
.f_null {
    color: #007cdc;
}
span.br1{
	float: left;
    width: 1px;
    height: 42px;
    margin: 0 10px;
    border-right: 1px solid #ccc;
}
dt.tb-metatit {
    color: #999;
    font-size: 12px;
    text-align: left;
    float: left;
    width: 50px;
    margin: 0 10px;
}
.tb-postAge {
	display: inline-block;
	padding: 0 5px 0 0;
    color: #333;
}
/*规格*/
.goodsattr-key {
    margin: 15px 20px 24px 0px;
    border-top: 1px dotted #c5c5c5;
}
.ga-skin {
    margin: 10px 0;
    padding: 5px 0 12px;
}
dl.goods_prop {
	display: inline-block;
    padding-bottom: 6px;
}
dl.goods_prop dt {
    margin-top: 12px;
    width: 55px;
}
dl.goods_prop dd {
    width: 420px;
    float: left;
}
dl.goods_prop li {
    float: left;
    position: relative;
    margin: 0 4px 4px 0;
    vertical-align: middle;
    padding: 1px;
    line-height: 28px;
}
dl.goods_prop li a {
    float: left;
    background-color: #fff;
    white-space: nowrap;
    width: auto!important;
    min-width: 10px;
    padding: 0 9px;
    text-align: center;
    border: 1px solid #b8b7bd;
    color: #000;
    text-decoration: none;
}
dl.goods_prop li.tb-selected a {
    border: 1px solid #ff6700;
}
ul.tb-img-alias li a {
    text-decoration: none;
    background-position: left center!important;
    padding: 0 9px 0 45px;
}
dl.goods_prop li a span {
    display: block;
    max-width: 97px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-indent: 0;
    line-height: 38px;
}
input.buyNum {
    float: left;
    padding: 1px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #a7a6ac;
    text-align: center;
    color: #000;
    outline: none;
    vertical-align: middle;
}
span.minus-plus span.mins {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}
span.minus-plus span.mins a.min {
    margin-bottom: 6px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border: 1px solid #a7a6ab;
    display: block;
    font-family: tm-detail-font;
    line-height: 12px;
    font-size: 16px;
    text-align: center;
}
span.goods-store-count {
    color: #878787;
    margin-left: 20px;
}
.tb-action {
    padding: 10px 0 0 66px;
    margin: 10px 0 0;
}
.tb-action>a{
	float: left;
	height: 38px;
	width: 178px;
    font: 16px Microsoft YaHei;
    line-height: 38px;
    text-align: center;
}
a.tb-goods-pay {
	color: #fff;
    background-color: #ff6700;
}
a.tb-goods-basket {
    margin-left: 10px;
    border: 1px solid #ff6700;
    color: #333;
}
/**************左侧产品热卖***********/
.deta-le-ma {
    float: left;
    width: 235px;
    height: auto;
    border: 1px solid #e5e5e5;
}
.ma-to {
    width: 100%;
    background: #F2F2F2;
    text-indent: 10px;
    line-height: 38px;
    height: 38px;
}
.alone-xm {
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
p.line-two-title a {
    font-size: 20px;
    font-weight: bolder;
    color: #222;
}
p.price-tag {
    width: 65%;
    border: 1px solid #ff6700;
    color: #ff6700;
    margin: 15px auto;
    line-height: 38px;
    text-align: center;
    display:block;
}
/***************详情页、评论*************/
.detail-content img {
    font-size: 0;
    float: left;
}
.deta-ri-ma {
    margin-left: 235px;
    padding: 0 0 10px 10px;
    width: 800px;
}
.deta-tb-tabbarbox {
    border: 1px solid #dfdfdf;
}
.deta-tb-tabbarbox ul{
	position: relative;
    width: 100%;
    height: 48px;
}
.deta-tb-tabbarbox ul li {
    float: left;
    margin-left: -1px;
    height: 48px;
    line-height: 48px;
    display: block;
    cursor: pointer;
}
.deta-tb-tabbarbox ul li.active {
    border-bottom: 2px solid #FF6701;
}
.deta-tb-tabbarbox ul li a {
    border-right: 1px dotted #d2d2d2;
    color: #333;
    padding: 0 20px;
}
.deta-tb-tabbarbox ul li.active a {
    font-weight: 700;
    display: block;
    color: #FF6701;
    border: 1px solid #dfdfdf;
    border-top: none;
}
.deta-tb-bg {
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 49px;
    z-index: 99;
    box-shadow: rgba(0,0,0,.2) 0 1px 5px 0;
    background: #fff;
}
/*产品参数*/
.goodsattr-list, .note-tb-header, .note-tb-list {
    margin: 10px 0;
    border: 1px solid #e6e6e6;
}
.brandattr{
	padding: 8px 20px 10px;
    height: 58px;
    line-height: 40px;
}
.goodsattr-list-hd {
    height: 32px;
    padding: 5px 20px;
    line-height: 22px;
    color: #999;
}
.goodsattr-list-hd em {
    font-weight: bold;
}
.goodsattr-list-hd a {
    color: #999;
}
.goodsattr-list-hd a:hover {
    color: #ff0036;
}
ul.goods-attrul {
	display: inline-block;
    padding: 0 20px 18px;
    text-indent: 0;
    border-top: 1px solid #fff;
}
ul.goods-attrul li {
    display: inline;
    float: left;
    width: 230px;
    height: 18px;
    overflow: hidden;
    margin: 10px 15px 0 0;
    line-height: 18px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}
/*商品评论*/
.note-tb-header {
    padding: 10px 0;
}
.note-tb-rate.left {
    float: left;
    display: block;
    width: 150px;
    padding: 0 20px;
    border-right: 1px dotted #ddd;
    text-align: center;
}
.note-tb-rate.left strong {
    color: #f60;
    font-family: arial;
    font-size: 32px;
    line-height: 32px;
    margin: 0 2px;
}
.note-tb-rate.left>p {
    margin: 0 auto;
    padding-top: 3px;
    text-align: center;
    display: block;
    width: 90px;
    height: 20px;
    overflow: hidden;
}
.note-tb-rate.left>p i.fa {
    display: block;
    float: left;
    padding: 0 2px;
}
.note-tb-rate.left>p i.fa-star {
    color: #f60;
}
.note-tb-rate.right {
    display: inline-block;
    padding: 22px 0;
    padding-left: 90px;
    width: 500px;
}
.rate-progress {
    position: relative;
    width: 500px;
    height: 16px;
    text-align: left;
    background: linear-gradient(45deg,rgba(255,255,255,0),#FFEB3B,#FF5722);
}
ol.graph-desc {
    width: 500px;
}
.note-tb-rate.right ol.graph-desc li {
    float: left;
    width: 80px;
    margin-top: 5px;
    padding-left: 20px;
    text-align: right;
    color: grey;
}
.rate-progress ol {
    height: 16px;
    line-height: 7px;
}
.note-tb-rate.right .rate-progress ol.graph-desc li {
    color: #000;
}
.rate-progress>span {
    position: absolute;
    margin-left: -18px;
    height: 22px;
    top: -27px;
    padding: 1px 5px;
    color: #fff;
    background: #FF0035;
    border-radius: 3px;
}
.rate-progress>span i.tab-foot-arr {
    top: 15px;
    right: 8px;
    font-size: 13px;
    color: #ff0036;
}
.note-tb-list {
    padding: 10px 0;
}
.note-tb-list .content {
    text-align: center;
}
.rate-filter {
    padding: 3px 20px 20px;
}
.rate-filter a {
    float: left;
    display: block;
    width: 60px;
    height: 28px;
    line-height: 25px;
    text-align: center;
}
.rate-filter a:hover {
    color: #ff0036;
}
.rate-filter a.active {
    border-bottom: 2px solid #ff0036;
}
ul.note-comment-people {
    margin: 25px 0;
}
ul.note-comment-people li {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    border-top: 1px dotted #c5c5c5;
}
.note-col {
    float: left;
    width: 494px;
    padding: 16px 7px;
}
.note-full-images ul {
    height: 40px;
    margin: 10px 0;
}
.note-full-images ul li {
    float: left;
    margin: 0;
    border: 2px solid #f2f2f2;
    padding: 2px;
    margin-right: 8px;
    position: relative;
    transition: border-color .2s ease-out;
}
.note-full-images ul li img {
    display: block;
    width: 40px;
    height: 40px;
    cursor: zoom-in;
}
.note-full-date {
    /*clear: both; */
    color: #ccc;
}
.note-full-meta {
    float: left;
    width: 135px;
    padding: 16px 7px;
    color: #999;
}
.note-full-meta p {
    margin: 3px 0;
}
.note-full-info {
    float: right;
    padding: 16px 7px;
    line-height: 90px;
}
.note-full-info span {
    color: #999;
}
.photo-viewer {
    position: relative;
    display: inline-block;
}
.photo-viewer img {
    cursor: zoom-out;
}
.photo-viewer a{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    font-size: 40px;
}
a.photo-viewe-prev {
    left: 0px;
}
a.photo-viewer-next {
    right: 0;
    padding-right: 15px;
    text-align: right;
}
.photo-viewer a i.fa{
    display: none;
    position: absolute;
    top: 50%;
}
.photo-viewer-next .fa-angle-right {
    right: 10px;
}
.tb-action>a.disabled {
    color: #b0b0b0 !important;
    background: #e0e0e0 !important;
    border: none;
    cursor: not-allowed;
}
