@charset "utf-8";
a,
body,
div,
h1,
html,
img,
li,
p,
ul {
  padding: 0;
  margin: 0;
}
body,
html {
  line-height: 1.5;
  color: #333;
  font-size: 12px;
}
body,
input {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",
    sans-serif;
}
:focus,
a,
label {
  outline: 0 none;
}
a,
img {
  border: 0 none;
}
a {
  text-decoration: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  a {
    background-color: transparent;
  }
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #c2c2c2;
  font-weight: 400 !important;
}
::-webkit-input-placeholder {
  color: #c2c2c2;
  font-weight: 400 !important;
}
input:-ms-input-placeholder {
  color: #c2c2c2;
  font-weight: 400 !important;
}
body,
html {
  height: 100%;
  width: 100%;
}
.layout {
  min-height: 780px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.nl-content {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -360px;
}
.nl-logo-area {
  height: 80px;
  margin-bottom: 20px;
}
.en .nl-logo-area {
  margin-bottom: 0;
}
.nl-login-title {
  font-size: 26px;
  margin-bottom: 10px;
  color: #000;
}
.nl-login-intro {
  color: #8d8d8d;
  font-size: 14px;
  margin-bottom: 30px;
}
.nl-login-intro a {
  color: #8d8d8d;
}
.nl-login-intro a:hover {
  color: #ff7e00;
  text-decoration: none;
}
.nl-phone-tip {
  width: 324px;
  margin: 0 auto;
  text-align: left;
}
.nl-footer {
  text-align: center;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.nl-f-nav {
  margin-bottom: 10px;
}
.nl-f-nav a {
  display: inline-block;
  color: #919191;
  padding: 0 6px;
  line-height: 1.2;
}
.nl-f-nav a:hover {
  color: #545454;
  font-weight: 700;
}
.nl-f-copyright,
.nl-f-copyright a {
  color: #999;
}
.en .zh-en,
.zh_CN .zh-cn,
.zh_TW .zh-tw {
  color: #545454;
  font-weight: 700;
}
.minilogin-frame {
  margin-left: 100px;
}
::-ms-clear {
  display: none;
}
::-ms-reveal {
  display: none;
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
.clearfix:after {
  display: block;
  content: "\20";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.hide {
  visibility: hidden !important;
}
.ng-form-area {
  display: none;
}
.en .corner {
  right: 130px;
}
.en .corner-inner {
  right: 131px;
}
.miniLogin_forbidden {
  margin-bottom: 30px;
  height: 50px;
  background-color: #eee;
  border: 1px solid #d8d8d8;
  width: 322px;
  position: relative;
  color: red;
  display: none;
  overflow: hidden;
}
.miniLogin_forbidden div {
  line-height: 50px;
  text-align: center;
}
.ng-form-area {
  display: block !important;
  margin-left: 40px;
  width: 324px;
  padding-top: 10px;
  position: relative;
}
.shake-area {
  position: relative;
}
.enter-area {
  position: relative;
}
.enter-item {
  background: #fff;
  width: 298px;
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 12px 10px;
  border: 1px solid #e6e6e6;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.last-enter-item {
  margin-top: 10px;
}
.code-enter-item {
  width: 164px;
  display: inline-block;
  zoom: 1;
  padding: 10px;
  float: left;
}
.code-img {
  display: inline-block;
  zoom: 1;
  margin-left: 7px;
  margin-top: 8px;
  border-radius: 6px;
  background: #ccc;
  cursor: pointer;
  width: 124px;
  float: right;
}
.error-ico {
  display: inline-block;
  zoom: 1;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 6px;
  background: -60px -38px no-repeat;
}
.error-msg {
  color: #ff7448;
  vertical-align: middle;
  font-size: 14px;
}
.placeholder {
  font-style: normal;
  color: #c2c2c2;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  zoom: 1;
}
.fadeOut {
  color: #d7d7d7;
}
.error-tip,
.placeholder {
  position: absolute;
  top: 14px;
  left: 10px;
}
.placeholder {
  left: 12px;
  display: none;
  display: block\9;
}
.error-tip {
  display: none;
  width: 300px;
  background: #fff;
  height: 18px;
  line-height: 16px;
}
.img-code-area .error-tip {
  width: 110px;
}
.error .error-tip {
  display: block;
}
.error .placeholder {
  display: none;
}
.img-code-area .error-tip,
.img-code-area .placeholder {
  left: 10px;
}
.ng-foot {
  height: 18px;
  margin-top: 16px;
}
.ng-link-area {
  text-align: right;
  color: #999;
  position: relative;
  float: right;
  text-align: right;
}
.ng-link-area a {
  color: #999;
}
.ng-link-area a:hover {
  color: #ff7e00;
}
.button,
.third-area {
  cursor: pointer;
  background: #fff;
  border: 1px solid #e5e5e5;
  color: #7c7c7c;
  display: block;
  font-size: 16px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  width: 320px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button:hover {
  color: #333;
}
.orange {
  background: 0;
  border: 0 none;
  background: #ff7a4d;
  color: #fff;
  border: 1px solid #ff7549;
}
.orange:hover {
  color: #fff;
  background: #ff936a;
  border: 1px solid #ff936a;
}
.orange:active {
  color: #fff;
  background: #f6683b;
  border: 1px solid #f6683b;
}
.third-area {
  line-height: 60px;
  position: absolute;
  right: 2px;
  top: 34px;
}
.third-area a {
  display: inline-block;
  zoom: 1;
  width: 28px;
  height: 28px;
  font-size: 0;
  overflow: hidden;
  margin: 0 4px;
}
.ta-qq {
  background: 0 0 no-repeat;
}
.ta-weibo {
  background: -30px 0 no-repeat;
}
.ta-alipay {
  background: 0 -30px no-repeat;
}
.ta-facebook {
  background: -30px -30px no-repeat;
}
.third-area a.ta-facebook {
  display: none;
}
.corner,
.corner-inner {
  width: 0;
  height: 0;
  border: 10px dotted transparent;
  overflow: hidden;
  position: absolute;
  top: -20px;
  right: 80px;
}
.corner {
  border-bottom: 10px solid #d6d6d6;
}
.corner-inner {
  border-width: 9px;
  border-bottom: 9px solid #fff;
  top: -18px;
  right: 81px;
}
.ng-cookie-area {
  color: #999;
  vertical-align: middle;
  float: left;
  cursor: pointer;
}
.ng-cookie-area .remember-me {
  vertical-align: -2px;
}
.checkbox {
  display: inline-block;
  zoom: 1;
  width: 15px;
  height: 15px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 6px;
  cursor: pointer;
  background: -3px -20px no-repeat;
}
.checked {
  background: -3px 0 no-repeat;
  zoom: 1;
}
.code-enter-item,
.shake-area {
  margin-bottom: 16px;
}
.button {
  margin: 16px 0 0 0;
}
.has_third .ta-alipay {
  display: none;
}
.en .ng-cookie-area {
  width: 110px;
}
.en .ng-link-area {
  width: 210px;
}
.nl-frame-container {
  text-align: left;
}
.modal,
.modal-close,
.modal-container,
.modal-mask,
.qrlogin-container {
  position: absolute;
  top: 0;
  left: 0;
}
.modal {
  width: 100%;
  height: 100%;
}
.modal-mask {
  width: 100%;
  height: 100%;
  z-index: 200;
  background: #000;
  filter: alpha(Opacity=50);
  opacity: 0.5;
}
.modal-container {
  z-index: 201;
  width: 640px;
  height: 420px;
  background: #fff;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
}
.modal-close {
  cursor: pointer;
  width: 60px;
  height: 60px;
  left: 640px;
  top: 0;
  font-size: 0;
}
.qrlogin-trigger {
  z-index: 30;
  position: absolute;
  top: 24px;
  right: 12px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  font-size: 0;
  overflow: hidden;
}
.qrlogin-iframe {
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  overflow: hidden;
}
.revalidate-user-name {
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  font-weight: 700;
  padding: 16px 0;
  text-align: center;
}
.mini-window {
  position: relative;
  min-height: 500px;
}
.mini-window .layout {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -245px;
  margin-left: -250px;
  min-height: 500px;
}
.mini-window .nl-content {
  position: static;
  margin: 0;
  overflow: hidden;
}
.mini-window .nl-footer {
  padding: 0;
  position: static;
}
.mini-window .nl-login-intro {
  margin: 5px 0;
}
.mini-window .nl-logo-area {
  margin: 0;
  height: auto;
}
.mini-window .nl-footer,
.mini-window .nl-phone-tip {
  display: none;
}
.mini-window .nl-login-title {
  font-size: 28px;
  margin-bottom: 0;
  margin-top: 10px;
}
.mini-window .minilogin-frame {
  margin-left: 50px;
}
.strong-color {
  color: #ff7e00;
  font-weight: 700;
}
.layout .lsrp-appname {
  font-weight: 400;
  font-size: 20px;
}
.display-custom-hide {
  display: none !important;
}
.display-custom-show-block {
  display: block !important;
}
.display-custom-show-inline {
  display: inline !important;
}
.display-custom-show-inline-block {
  display: inline-block !important;
}
.ng-form-area {
  margin-left: 0;
  margin: 0 auto;
}
.web-info {
  height: 40px;
  padding: 10px 0;
  text-align: center;
}
.web-info-title {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.web-info-content {
  color: #ff7e00;
  line-height: 20px;
  font-size: 12px;
}
@media all and (max-width: 770px) {
  .layout {
    min-height: 500px;
    overflow: hidden;
  }
  .modal-container {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .modal-close {
    left: 0;
  }
  .qrlogin-trigger {
    right: 24px;
    display: none !important;
  }
  .mini-window {
    position: static;
    height: 100%;
  }
  .mini-window .layout {
    margin: 0;
    position: static;
    width: auto;
    height: 100%;
    min-height: 350px;
  }
  .nl-frame-container {
    max-width: 400px;
    margin: 0 auto;
  }
  .ng-form-area {
    width: auto;
    margin: 0 auto;
    padding: 10px;
    height: auto;
  }
  .enter-item {
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    line-height: normal;
    border: 1px solid #d3d3d3;
  }
  .first-enter-item {
    border-radius: 16px 16px 0 0;
  }
  .last-enter-item {
    border-radius: 0 0 16px 16px;
    margin-top: -1px;
  }
  .code-enter-item {
    border-radius: 16px;
    -webkit-box-flex: 1;
    box-flex: 1;
    display: block;
    height: 42px;
    margin-bottom: 0;
  }
  .button {
    box-sizing: border-box;
    width: 100%;
    line-height: 20px;
    padding: 11px 0;
    height: auto;
    border-radius: 22px;
    background: #fff;
    border: 1px solid #d3d3d3;
    color: #737373;
  }
  .nl-login-intro,
  .nl-logo-area {
    display: none !important;
  }
  .orange,
  .orange:hover {
    background: #3ec234;
    border: 1px solid #219718;
    box-shadow: inset 0 1px 1px #57ca4e;
    color: #fff;
  }
  .code-img {
    display: inline-block;
    zoom: 1;
    margin-left: 7px;
    border-radius: 6px;
    background: #ccc;
    vertical-align: top;
    cursor: pointer;
  }
}
input {
  background: 0 0;
  border: 0 none;
}
.register_wrap .layout {
  width: 960px;
  margin: 0 auto;
  min-height: inherit;
  height: auto;
}
.bugfix_ie6 {
  position: relative;
  z-index: 4;
}
.n-logo-area {
  padding: 50px 0;
  height: 31px;
  line-height: 31px;
  width: 960px;
  margin: 0 auto;
}
.fl-l {
  float: left;
}
.n-frame {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  background: #fff;
  padding: 34px 34px 0;
  border-radius: 10px;
  min-height: 400px;
}
.t_c {
  text-align: center;
}
.title-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  clear: both;
}
.dis_bot35 {
  padding-bottom: 35px;
}
.device-frame .title-item {
  margin-bottom: 0;
}
.title-big,
.title-bigger,
.title-biggest,
.title-normal {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  font-weight: 700;
}
.title-big {
  font-size: 20px;
  margin: 0;
}
.mauto,
.regbox {
  margin: 0 auto;
}
.regbox {
  width: 332px;
  padding: 30px 0 50px 0;
  line-height: 20px;
}
.regbox .law {
  padding: 10px 0;
}
.regbox .trig {
  text-align: right;
  padding-top: 15px;
}
.regbox .trig a {
  color: #ff6700;
}
.inputbg,
.pb15 {
  padding-bottom: 15px;
}
.borderbox,
.labelbox,
.tits_list {
  border: 1px solid #e8e8e8;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.labelbox {
  height: 40px;
  line-height: 40px;
  display: inline-block;
}
.label-code {
  float: left;
}
.params_error {
  border: 1px solid #ff6f3d !important;
}
.labelbox input {
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: inline-block;
}
.inputbg {
  position: relative;
}
.inputbg input {
  width: 310px;
  height: 20px;
  line-height: 20px;
}
.inputbg .t_text {
  position: absolute;
  left: 11px;
  top: 11px;
  color: #bbb;
  font-size: 13px;
  display: none;
  display: block\9;
}
.err_tip,
.err_tip_independ {
  margin-bottom: 5px;
  line-height: 20px;
  font-size: 12px;
  color: #ff6f3d;
}
.err_tip {
  margin-top: -8px;
}
.err_tip_independ,
.icon_error {
  background-repeat: no-repeat;
}
.icon_error {
  width: 14px;
  height: 14px;
  margin: -1px 5px 0 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.err_tip span {
  vertical-align: middle;
}
.chkcode_img {
  margin-left: 7px;
  margin-top: 8px;
  vertical-align: middle;
  cursor: pointer;
  width: 125px;
}
.btn332 {
  width: 330px;
  height: 42px;
  margin: 0 auto;
  line-height: 42px;
  text-align: center;
  font-size: 14px;
  display: block;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.btn_reg_1 {
  background-color: #ff6f3d;
  margin-top: 15px;
  border: 1px solid rgba(186, 186, 186, 0.3);
  color: #fff;
}
.n-footer {
  color: #9d9d9d;
  line-height: 1.5;
  text-align: center;
  padding: 40px 0;
}
.nf-intro {
  padding: 10px;
}
.n-footer a {
  color: #ababab;
}
.listwrap {
  margin-bottom: 15px;
  position: relative;
}
.tits {
  height: 40px;
  padding-left: 14px;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #e8e8e8;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
}
.tits tt {
  float: left;
  width: 275px;
  border-right: 1px solid #e8e8e8;
  cursor: pointer;
}
.icon_cirarr {
  float: right;
  width: 16px;
  height: 16px;
  margin: 11px 12px 0 12px;
}
.country-container {
  width: 330px;
  background: #fff;
  height: 168px;
  line-height: 30px;
  border: 1px solid #e8e8e8;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 41px;
  z-index: 98;
  display: none;
}
#select_country_code {
  float: right;
  cursor: pointer;
}
.btn_commom_cancel {
  display: none;
}
.country-code .header {
  background: #eaeaea;
  padding-left: 10px;
}
.country-code .record {
  padding: 0 10px;
  clear: both;
  overflow: hidden;
  cursor: pointer;
}
.country-code .record:hover {
  background: #eaeaea;
}
.country-code .record span {
  height: 30px;
  overflow: hidden;
}
.country-code .record-country {
  float: left;
  max-width: 74%;
  cursor: pointer;
}
.country-code .record-code {
  float: right;
  max-width: 20%;
}
.fixed_countrycode {
  display: none;
}
@media only screen and (max-width: 770px) {
  .select_country_code_content {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    padding: 0 !important;
  }
  .btn_commom_cancel {
    background: #efefef;
    color: #666 !important;
    border: 1px solid rgba(186, 186, 186, 0.3);
  }
  .dis_box {
    display: -webkit-box !important;
  }
  body,
  html {
    height: 100%;
  }
  html {
    font-size: 62.5%;
  }
  .tits {
    -webkit-box-pack: justify;
    box-pack: justify;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-align: center;
    box-align: center;
    height: auto;
    line-height: normal;
  }
  .tits tt {
    width: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-flex: 1;
    box-flex: 1;
    padding: 11px 0;
  }
  .icon_cirarr,
  .tits tt {
    float: none;
    display: block;
  }
  .icon_cirarr {
    background: 0 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    margin-top: 0;
  }
  .icon_cirarr:after {
    content: "";
    width: 4px;
    height: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: 5px;
    top: 4px;
  }
  .listwrap {
    position: static;
  }
  .country-container {
    width: 100%;
    height: 100% !important;
    top: 0;
    font-size: 1.6rem;
    box-sizing: border-box;
    position: fixed;
  }
  .country-code {
    height: 100%;
    overflow: auto;
  }
  .country-code .header {
    line-height: 40px;
    color: #333;
    font-weight: 700;
  }
  .country-code .record {
    padding: 0 20px;
    border-bottom: 1px solid #e8e8e8;
  }
  .fixed_countrycode {
    display: block;
    height: 100px;
    display: -webkit-box !important;
    -webkit-box-align: center;
    box-align: center;
  }
}
.mod_acc_tip input {
  display: inline-block;
  vertical-align: middle;
}
.modal_container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.modal_msk {
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  left: 0;
  top: 0;
}
.modal_tip {
  background: #fff;
  margin: 0 auto;
  padding: 0 14px;
  line-height: 30px;
  border: #838383 solid 6px;
  border: #d1d1d1 \9 solid 6px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #666;
  position: absolute;
}
:root .modal_tip {
  border: 6px solid #838383;
}
.modal_tip_hd {
  height: 42px;
  padding-top: 13px;
  line-height: 42px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.modal_tip_title {
  color: #1e1e1e;
  font-size: 15px;
  font-weight: 700;
  padding: 0 20px;
}
.modal_tip_close {
  width: 8px;
  height: 8px;
  overflow: hidden;
  position: absolute;
  top: 14px;
  right: 0;
}
.mod_acc_tip {
  background: #fff;
  width: 412px;
  height: auto;
  padding: 0 14px 30px;
  line-height: 20px;
  border: #838383 solid 6px;
  border: #d1d1d1 \9 solid 6px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #666;
  position: relative;
  z-index: 4;
}
.mod_acc_tip input {
  border: 0 none;
}
.mod_tip_hd {
  height: 42px;
  padding-top: 13px;
  line-height: 42px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.mod_tip_hd h4 {
  font-size: 15px;
  color: #1e1e1e;
}
.btn_mod_close {
  width: 22px;
  height: 22px;
  overflow: hidden;
  position: absolute;
  top: 7px;
  right: -7px;
  background-position: center;
}
.btn_mod_close span {
  display: none;
}
.zh_CN .nl-phone-tip {
  display: none;
}
.regbox {
  width: 332px;
  margin: 0 auto;
  padding: 40px 0;
  line-height: 20px;
}
@media only screen and (max-width: 770px) {
  body,
  html {
    height: 100%;
  }
  html {
    font-size: 62.5%;
  }
  .mod_tip_hd,
  .modal_tip_hd {
    display: -webkit-box !important;
    -webkit-box-align: center;
    box-align: center;
    overflow: hidden;
  }
  .mod_tip_hd h4,
  .modal_tip_hd .modal_tip_title {
    -webkit-box-flex: 1;
    box-flex: 1;
    line-height: 20px;
  }
  .btn_mod_close {
    padding: 7px 15px;
    line-height: normal;
    font-size: 1.4rem;
    color: #333;
    font-weight: 700;
    border: 1px solid #d3d3d3;
    -o-border-radius: 36px;
    border-radius: 36px;
    display: block;
  }
  .btn_mod_close {
    margin-right: 20px;
    background: 0 0;
    width: auto;
    height: auto;
    position: static;
  }
  .btn_mod_close span {
    display: block;
  }
  .mod_acc_tip {
    background: #f9f9f9;
    width: 100%;
    min-height: 100%;
    height: 100% !important;
    padding: 0;
    border: 0 none !important;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .mod_tip_hd h4 {
    padding: 0 20px;
  }
  .modal_tip_bd {
    padding: 0 20px;
  }
  .regbox {
    width: 100%;
    font-size: 1.4rem;
    padding: 40px 20px;
    box-sizing: border-box;
  }
  .tip_btns {
    padding: 0;
  }
}
.remain {
  margin-left: 8px;
  vertical-align: middle;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e8e8e8;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.remain a {
  color: #000;
  cursor: pointer;
  padding: 0 10px;
  display: block;
}
.remain a:hover {
  background: #ececec !important;
  color: #888;
}
.remain .disabled,
.remain .noSend {
  background: 0 0 !important;
  color: #9d9d9d !important;
  cursor: default !important;
}
.remain .disabled:hover,
.remain .noSend:hover {
  background: 0 0 !important;
}
.identitypwd .remain {
  display: none;
}
.msg em {
  color: #555;
}
.country-code .record-country {
  float: left;
}
.country-code .record-code {
  float: right;
}
.apfooter,
.wthadpt {
  width: 100%;
}
.mauto,
.regbox {
  margin: 0 auto;
}
.pt0 {
  padding-top: 0;
}
.pt45 {
  padding-top: 45px;
}
.pb10 {
  padding-bottom: 10px;
}
.inputbg,
.pb15 {
  padding-bottom: 15px;
}
.pb35 {
  padding-bottom: 35px;
}
.country-code .header,
.listbox h6,
.listbox p,
.pl10 {
  padding-left: 10px;
}
.bg_eae,
.chk,
.country-code .header,
.country-code .record:hover,
.listbox h6,
.listbox p:hover {
  background: #eaeaea;
}
.acc_conversion,
.ft14,
.n_succ h4,
.regbox h4 {
  font-size: 14px;
}
.ft12 {
  font-size: 12px;
}
.ftbold,
.msg a,
.msg em {
  font-weight: 700;
}
.color_ff6 {
  color: #ff6f3d;
}
.color_c5c {
  color: #c5c5c5;
}
.apregbox,
.dis_block,
.pwd_tip,
.qst_txt {
  display: block;
}
.dis_inl {
  display: inline-block;
}
.ap_n_loss,
.app_succ_img,
.dis_n,
.listbox,
.pwd_tip .icon_error {
  display: none;
}
.dis_inl_vt_mid {
  display: inline-block;
  vertical-align: middle;
}
.n_loss .disabled {
  background: 0 0 !important;
  color: #9d9d9d !important;
  cursor: default !important;
}
.dis_bot35 {
  padding-bottom: 35px;
}
.acctip_icon_3 {
  background-position: -13px -15px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-top: -3px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.icon_lock,
.succ_emptacc,
.succ_smile {
  width: 68px;
  height: 68px;
  margin: 58px auto 14px;
}
.regbox {
  width: 332px;
  padding: 30px 0;
  line-height: 20px;
}
.regbox .tit_normal {
  padding-bottom: 5px;
  color: #333;
  font-weight: 400;
}
.msg a {
  color: #333;
}
.listbox {
  width: 330px;
  background: #fff;
  height: 168px;
  line-height: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 41px;
  z-index: 98;
}
.country-code .record {
  padding: 0 10px;
  cursor: pointer;
  clear: both;
  overflow: hidden;
}
.country-code .record span {
  height: 30px;
  overflow: hidden;
}
.country-code .record-country {
  max-width: 74%;
}
.country-code .record-code {
  max-width: 20%;
}
.inputbg input {
  width: 310px;
  height: 40px;
  line-height: 40px;
}
.err_tip {
  margin-top: -8px;
}
.pwd_tip {
  color: #555;
}
.col_54a {
  color: #54aa35;
}
.inputcode .code {
  width: 170px;
}
.inputcode .resendcode {
  width: 170px;
  max-width: 180px;
  width: 165px\9;
}
.zh_CN .inputcode .resendcode,
.zh_HK .inputcode .resendcode,
.zh_TW .inputcode .resendcode {
  width: 190px;
  width: 185px\9;
  max-width: 260px;
}
.msg {
  margin-top: 10px;
  color: #9d9d9d;
}
.msg em {
  font-style: normal;
}
.other_register_area {
  padding-bottom: 20px;
  border-top: 1px solid #e6e6e6;
}
.step2 {
  padding-top: 20px;
}
.step2 p {
  padding-bottom: 20px;
}
.step2 .step2_txt {
  padding-bottom: 10px;
}
.step2 .step2_txt p {
  padding-bottom: 10px;
}
.qst_txt {
  margin-top: 10px;
}
.step3 dt {
  margin: 15px 0;
}
.n_succ img {
  margin: 58px 0 14px;
}
.n_succ .fixed_bot {
  margin: 45px auto 30px;
}
.mailbox {
  padding-top: 74px;
}
.hintro {
  padding: 15px 0;
  line-height: 28px;
}
.n_loss {
  margin-left: -5px;
  padding-top: 10px;
}
.n_loss a {
  margin: 0 5px;
  color: #333;
  text-decoration: underline;
}
.apregbox {
  padding: 17px 20px 0;
  border-top: 1px solid #adadad;
}
.apregbox .alink {
  margin: 10px 0 24px;
}
.apregbox .alink a {
  color: #707070;
}
.apregbox .alink a:first-child {
  margin-right: 15px;
}
.apregbox .alink a:last-child {
  margin-left: 15px;
}
.btn_1 {
  background-color: #51c422;
}
.apfooter a {
  margin: 0 14px;
  color: #707070;
}
.apfooter .now {
  color: #c5c5c5;
}
.n_tit_msg {
  margin: 10px 0 20px;
}
.verlistbox {
  padding-top: 15px;
}
.icon_noverify {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  overflow: hidden;
}
.noverify {
  padding: 20px 0;
}
.regbox hgroup {
  line-height: 26px;
}
.othway {
  padding-top: 60px;
}
.captcha img {
  width: 100px;
  margin-left: 15px;
}
.timeout {
  padding-top: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}
.mar_reset {
  margin-top: 50px;
}
.regagabox {
  padding-bottom: 30px;
}
.confirm_box {
  padding-bottom: 10px;
  font-size: 14px;
  color: #333;
}
.single_imgarea {
  text-align: center;
}
.single_imgarea .us_name {
  padding-top: 10px;
}
.confirm_con {
  padding-top: 15px;
}
.confirm_con .txt {
  padding-bottom: 5px;
}
.reg_again_txt {
  display: none;
}
.in_ID .inputcode .code {
  width: 170px;
}
.in_ID .inputcode .resendcode {
  width: 130px;
}
.phone_step2 .err_tip {
  margin-bottom: 10px;
}
@media screen and (orientation: portrait) {
  .apfooter {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px;
  }
}
@media only screen and (max-width: 770px) {
  html {
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
  }
  body {
    font-size: 1.4rem;
    overflow-y: auto;
  }
  .dis_none,
  .logout,
  .n-footer,
  .n-main-nav {
    display: none;
  }
  .dis_pc_none {
    display: block;
  }
  .dis_vcenter {
    -webkit-box-align: center;
    box-align: center;
  }
  .box_center {
    display: -webkit-box;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
  }
  .layout {
    width: 100%;
    min-height: 400px;
  }
  .n-frame {
    background: #f9f9f9;
    padding: 0;
    border: 0 none;
    border-radius: 0;
  }
  .dis_box {
    display: -webkit-box !important;
  }
  .dis_box_normal {
    display: -webkit-box;
  }
  .disabled {
    background-color: #94d978 !important;
    color: rgba(255, 255, 255, 0.3) !important;
  }
}
@media only screen and (max-width: 770px) {
  .inputbg,
  .inputbg input,
  .inputcode .code,
  .inputcode .resendcode,
  .n_succ,
  .regbox {
    width: 100%;
  }
  .step2 p {
    font-size: 14px;
  }
  .ap_n_loss,
  .err_tip span,
  .icon_error,
  .icon_noverify,
  .inputbg input,
  .inputcode a,
  .inputcode img,
  .noverify a {
    display: block;
  }
  .ap_n_loss a {
    color: #ff6f3d;
  }
  .app_succ_img {
    display: inline-block;
  }
  .listbox {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }
  .inputbg input {
    height: 40px;
    margin-top: 0;
    line-height: normal;
    box-sizing: border-box;
  }
  .inputcode .resendcode {
    max-width: 100%;
    height: auto;
    line-height: 20px;
    padding: 10px;
  }
  .remain {
    background: #fff;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.3);
    line-height: 20px;
  }
  .remain a {
    padding: 10px;
  }
  .title-big {
    font-size: 1.6rem;
  }
  .dis_bot35 .title-big {
    font-weight: 400;
  }
  .dis_bot35 {
    padding: 23px 0 20px;
  }
  .title-item {
    border-bottom: 0 none;
  }
  .regbox {
    font-size: 1.4rem;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .regbox h4 {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .reg_tit_critical {
    font-size: 16px;
  }
  .n_succ {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .n_succ .fixed_bot {
    margin: 0;
  }
  .n_tit h4,
  .title_shadow {
    -webkit-text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
  }
  .country-container,
  .listbox {
    background: #f9f9f9;
  }
  .inputcode {
    -webkit-box-align: center;
    box-align: center;
  }
  .inputcode label {
    -webkit-box-flex: 1;
    box-flex: 1;
  }
  .inputcode .wap_resend_label {
    width: 54%;
  }
  .disent1 {
    margin-top: 90px;
  }
  .step2 {
    padding-top: 8px;
  }
  .step2 p {
    padding-bottom: 18px;
  }
  .step3 dt {
    margin: 15px 0 20px 0;
  }
  .hintro {
    background-color: #f3f3f4;
    padding: 15px 10px;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
  }
  .ap_n_loss {
    padding-top: 5px;
  }
  .other_register_area {
    padding-top: 10px;
  }
  .reg_frame {
    min-height: 0;
  }
  .err_tip span {
    -webkit-box-flex: 1;
    box-flex: 1;
  }
  .fixed_bot {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .pt0 {
    padding-top: 0;
  }
  .icon_conversion {
    display: inline-block;
  }
  .timeout {
    padding-left: 10px;
    text-align: left;
  }
  .reg_again_txt {
    padding-top: 10px;
    display: block;
  }
  .reg_again_txt p {
    padding-top: 5px;
  }
  .reg_again_txt a {
    font-weight: 700;
  }
}
.login_countrycode_box {
  padding: 40px 0;
}
#select_country_code {
  float: right;
  cursor: pointer;
}
.btn_commom_cancel {
  display: none;
}
.fixed_countrycode {
  display: none;
}
body {
  margin: 0;
  background: #fff;
}
.wrapper {
  display: block;
  min-height: auto;
}
.nav_tabs {
  padding: 27px 0 24px;
  text-align: center;
  font-size: 24px;
  color: #e0e0e0;
}
.h_panel,
.login_banner {
  width: 1130px;
  margin: 0 auto;
}
.h_logo {
  width: 200px;
  height: 98px;
  background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png)
    no-repeat;
}
.h_logo a {
  display: block;
  height: 98px;
  text-indent: -9999em;
}
.login_banner_panel {
  width: 100%;
  height: 588px;
  position: absolute;
  left: 0;
  top: 98px;
  background-repeat: no-repeat;
  background-position: top center;
  background-position-x: 60% !important;
}
.login_banner_panel a {
  display: block;
  height: 588px;
  text-indent: -9999em;
}
.wp {
  padding-bottom: 0;
  position: relative;
  padding-top: 0\9;
}
.layout_panel {
  width: 1130px;
  margin: 0 auto;
}
.layout_panel {
  padding-top: 50px;
}
.layout {
  background-color: #fff;
  width: 854px;
  margin: 0 auto 20px;
  position: relative;
  min-height: 620px;
}
.layout {
  width: 410px;
  min-height: 500px;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 14px;
  z-index: 4;
}
.mainbox {
  padding-bottom: 0;
}
.ercode {
  width: 68px;
  height: 68px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.ercode,
.eye_panel,
.lgnheader {
  display: none;
}
.nav_tabs_panel,
.tabs_con.now {
  display: block;
}
.win_banner_mistore .nav_tabs {
  padding: 27px 0 24px;
  text-align: center;
  font-size: 24px;
  color: #e0e0e0;
}
.nav_tabs a.now {
  color: #f56600;
}
.line {
  width: 1px;
  height: 24px;
  margin: 0 35px 0 42px;
  border: 1px solid #e0e0e0;
}
.nav_tabs a {
  color: #666;
}
.login_area {
  width: 358px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.login_area {
  width: 348px;
  padding-bottom: 0;
}
.lgn_inputbg,
.loginbox {
  position: relative;
}
.c_b {
  zoom: 1;
}
.c_b:after,
.c_b:before {
  content: "";
  display: block;
}
.confirm_con,
.single_imgarea {
  line-height: 20px;
  font-size: 14px;
  color: #333;
}
.labelbox {
  display: -webkit-box;
  margin-bottom: 14px;
  border: 1px solid #e0e0e0;
}
.turn_area {
  display: none;
  height: 11px;
  padding: 18px 0 18px 10px;
  float: none;
}
.btn_turn {
  width: 11px;
  height: 11px;
  display: block;
}
.country_list {
  cursor: pointer;
  display: none;
  float: left;
}
.labelbox input {
  width: 306px;
}
.code_panel {
  padding: 15px 20px;
  color: #333;
  display: block;
  overflow: hidden;
  border-left: 1px solid #e0e0e0;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.err_tip {
  margin-bottom: 5px;
  line-height: 20px;
  color: #f56700;
  display: none;
}
.btns_bg {
  padding-top: 10px;
}
.err_forbidden {
  padding: 10px;
  border: 1px solid #e0e0e0;
  line-height: 1.5;
  background: #f5f5f5;
  color: #ff6700;
  display: none;
}
.btnadpt {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  margin-bottom: 14px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.btn_orange {
  background-color: #f56600;
}
.btn_facebook {
  background-color: #3a5897;
}
.other_panel {
  margin-top: -5px;
}
.sms_link {
  float: left;
  display: block;
}
.n-footer {
  width: 100%;
  bottom: 0;
}
.n_links_area {
  float: right;
  text-align: center;
  color: #e0e0e0;
}
.n_links_area {
  padding-top: 0;
  color: #999;
}
.n_links_area a {
  font-size: 14px;
  color: #999;
}
.iver {
  width: 70%;
  display: inline-block;
}
.pwdLogin img {
  margin: 0 5px -7px;
}
@media only screen and (max-width: 770px) {
  .btn_commom_cancel {
    background: #efefef;
    color: #666 !important;
    border: 1px solid rgba(186, 186, 186, 0.3);
    display: block;
  }
}
