<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title"> <img src="{$SiteaLogo}" alt="logo"><span style="vertical-align: middle;">{$SiteaName}</span></a>
        </div>

        <div class="clearfix"></div>

        <div class="profile" style="height: 70px;">
            <div class="profile_pic">
                <img src="{$Think.session.user.pic ?? '/static/admin/images/picture.jpg'}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>欢迎您：</span>
                <h2>{$Think.session.user.username}</h2>
            </div>
        </div>
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li><a href="/admin/index"><i class="fa fa-home"></i> 后台首面</a></li>
                    <li>
                        <a><i class="fa fa-cog"></i>系统设置<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/config">网点设置</a></li>
                            <!--<li><a href="/admin/navigation">导航设置</a></li>-->
                            <li><a href="/admin/ad">广告设置</a></li>
                            <!--<li><a href="javascript:;">物流设置</a></li>-->
                            <li><a href="/admin/mail">邮件设置</a></li>
                            <li><a href="/admin/link">友情链接</a></li>
                            <li><a href="/admin/userlog">登录日志</a></li>
                            <li><a class="sub-menu" data-url="/admin/index/cache_clear">清除缓存</a></li>
                        </ul>
                    </li>
                     <li><a><i class="fa fa-user"></i> 用户管理 <span class="fa fa-chevron-down"></span></a>
                           <ul class="nav child_menu">
                               <li><a href="/admin/user/userinfo">修改昵称</a></li>
                               <li><a href="/admin/user/pwd">修改密码</a></li>
                           </ul>
                     </li>
                    <li><a><i class="fa fa-calendar-o"></i> 商品 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/goods">商品列表</a></li>
                            <li><a href="/admin/category">商品分类</a></li>
                            <li><a href="/admin/brand">品牌管理</a></li>
                            <li><a href="/admin/spec">商品规格</a></li>
                            <li><a href="/admin/attr">商品属性</a></li>
                            <li><a href="/admin/goods/warehouse">仓库管理</a></li>
                            <li><a href="/admin/content/">商品评论</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-shopping-bag"></i> 订单管理 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/orders">订单列表</a></li>
                            <li><a href="/admin/orders/sphipping">发货单</a></li>
                            <li><a href="/admin/orders/refund">退货单</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-users"></i> 会员管理 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/users">会员列表</a></li>
                            <!--<li><a href="javascript:;">预存款</a></li>-->
                        </ul>
                    </li>
                   <!-- <li><a><i class="fa fa-database"></i> 数据库 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/database/index">数据库列表</a></li>
                            <li><a href="javascript:;">备份还原</a></li>
                        </ul>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>