<div class="site-footer">
	<div class="container">
		<div class="footer-service">
			<ul class="list-service clearfix">
				<li>
					<a rel="nofollow" href="/" target="_blank">
						<i class="iconfont"></i>
						1小时快修服务
					</a>
				</li>
				<li>
					<a rel="nofollow" href="/" target="_blank">
						<i class="iconfont"></i>
						7天无理由退货
					</a>
				</li>
				<li>
					<a rel="nofollow" href="/" target="_blank">
						<i class="iconfont"></i>
						15天免费换货
					</a>
				</li>
				<li>
					<a rel="nofollow" href="/" target="_blank">
						<i class="iconfont"></i>
						满150元包邮
					</a>
				</li>
				<li>
					<a rel="nofollow" href="/" target="_blank">
						<i class="iconfont"></i>
						520余家售后网点
					</a>
				</li>
			</ul>
		</div>
		<div class="footer-links clearfix">
			<dl class="col-links col-links-first">
				<dt>账户管理</dt>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">账户注册</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">找回密码</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">VIP认证</a>
				</dd>

			</dl>
			<dl class="col-links col-links-first">
				<dt>购物指南</dt>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">购买时间</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">产品参数</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">包邮政策</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">下单及支付时效</a>
				</dd>

			</dl>
			<dl class="col-links col-links-first">
				<dt>技术支持</dt>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">如何刷机</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">无法开机</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">无法解锁</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">信号问题</a>
				</dd>

			</dl>
			<dl class="col-links col-links-first">
				<dt>售后服务</dt>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">售后申请</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">售后进度查询</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">快递费报销</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">返厂邮寄注意事项</a>
				</dd>

			</dl>
			<dl class="col-links col-links-first">
				<dt>特色服务</dt>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">挂架安装</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">以旧换新</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">意外保障服务</a>
				</dd>
				<dd>
					<a rel="nofollow" href="javascript:;" target="_blank">小米云服务</a>
				</dd>

			</dl>
			<div class="col-contact">
				<p class="phone">400-100-5678</p>
				<p>
					<span class="J_serviceTime-normal">周一至周日 8:00-18:00</span>
					<span class="J_serviceTime-holiday" style="display:none;">2月7日至13日服务时间 9:00-18:00</span>
					<br>（仅收市话费）</p>
				<a rel="nofollow" class="btn btn-line-primary btn-small" href="/" target="_blank">
					<i class="iconfont"></i>
					24小时在线客服
				</a>
			</div>
		</div>
	</div>
</div>
<div class="site-info">
	<div class="container">
		<div class="logo ir">小米官网</div>
		<div class="info-text">

			<p>
				©
				<a href="//www.mi.com/" target="_blank" title="mi.com">mi.com</a>
				京ICP证00001号 京ICP备0000000号
				<a rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020134" target="_blank">京公网安备0000000000000000号</a>
				<a rel="nofollow" href="//c1.mifile.cn/f/i/2013/cn/jingwangwen.jpg" target="_blank">京网文[2014]0059-0009号</a>

				<br>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
		<div class="info-links">
			<a rel="nofollow" href="//privacy.truste.com/privacy-seal/validation?rid=4fc28a8c-6822-4980-9c4b-9fdc69b94eb8&amp;lang=zh-cn" target="_blank">
				<img rel="nofollow" src="//privacy-policy.truste.com/privacy-seal/seal?rid=4fc28a8c-6822-4980-9c4b-9fdc69b94eb8" alt="TRUSTe Privacy Certification">
			</a>
			<a rel="nofollow" href="//search.szfw.org/cert/l/CX20120926001783002010" target="_blank">
				<img rel="nofollow" src="//s01.mifile.cn/i/v-logo-2.png" alt="诚信网站">
			</a>
			<a rel="nofollow" href="https://ss.knet.cn/verifyseal.dll?sn=e12033011010015771301369&amp;ct=df&amp;pa=461082" target="_blank">
				<img rel="nofollow" src="//s01.mifile.cn/i/v-logo-1.png" alt="可信网站">
			</a>
			<a rel="nofollow" href="http://www.315online.com.cn/member/315140007.html" target="_blank">
				<img rel="nofollow" src="//s01.mifile.cn/i/v-logo-3.png" alt="网上交易保障中心">
			</a>
		</div>
	</div>
	<div class="slogan ir">探索黑科技，小米为发烧而生</div>
</div>
<div id="J_modalWeixin" class="modal fade modal-hide modal-weixin" data-width="480" data-height="520">
	<div class="modal-hd">
		<a class="close" data-dismiss="modal">
			<i class="iconfont"></i>
		</a>
		<span class="title">小米手机官方微信二维码</span>
	</div>
	<div class="modal-bd">
		<p style="margin: 0 0 10px;">
			打开微信，点击右上角的“+”，选择“扫一扫”功能，
			<br>
			对准下方二维码即可。
		</p>
		<img alt="" src="//c1.mifile.cn/f/i/2014/cn/qr.png" width="375" height="375">
	</div>
</div>