{extend name="common/base" /}
{block name="title"}{$SiteaName}{/block}
{block name="content"}
<link rel="stylesheet" href="http://mi.com/homes/common/css/index.min.css">
<link rel="stylesheet" href="/index/css/home.css">
<!-- =============================================== 轮播 ============================================ -->
	<div class="home-hero-container container">
		<div class="home-hero">
			<div class="home-hero-slider">
				<div class="ui-wrapper" style="max-width: 100%;">
					<div class="ui-viewport" style="width: 100%; overflow: hidden; position: relative; height: 460px;">
						<div id="J_homeSlider" class="xm-slider" data-stat-title="焦点图轮播" style="width: 1226px; position: relative; height: 460px;">
							{volist name="ad" id="v"}
							<div class="slide loaded" style="position: absolute; width: 1226px; left: 0px; top: 0px; display: block; opacity: 0.948;">
								<a href="{$v.ad_link}" target="_blank">
									<img src="{$v.ad_code}">
								</a>
							</div>
							{/volist}
						</div>
					</div>
					<div class="ui-controls-direction">
						<a class="ui-prev" href="javascript:void(0);">上一张</a>
						<a class="ui-next" href="javascript:void(0);">下一张</a>
					</div>
					<div class="ui-controls ui-has-pager ui-has-controls-direction">
						<div class="ui-pager ui-default-pager">
						</div>
					</div>
				</div>
			</div>

			<div class="home-hero-sub row">
				<div class="span4">
					<ul class="home-channel-list clearfix">
						<li class="top left">
							<a href="/" data-stat-aid="AA11221" data-stat-pid="2_44_1_250" target="_blank"> <i class="iconfont"></i>
								电信专场
							</a>
						</li>
						<li class="top">
							<a href="/" data-stat-aid="AA10868" data-stat-pid="2_44_2_251" target="_blank">
								<i class="iconfont"></i>
								企业团购
							</a>
						</li>
						<li class="top">
							<a href="/" data-stat-aid="AA10869" data-stat-pid="2_44_3_252" target="_blank">
								<i class="iconfont"></i>
								官翻产品
							</a>
						</li>
						<li class="left">
							<a href="/" data-stat-aid="AA11244" data-stat-pid="2_44_4_253" target="_blank">
								<i class="iconfont"></i>
								小米移动
							</a>
						</li>
						<li class="">
							<a href="/" data-stat-aid="AA12084" data-stat-pid="2_44_5_254" target="_blank">
								<i class="iconfont"></i>
								以旧换新
							</a>
						</li>
						<li class="">
							<a href="/" data-stat-aid="AA10871" data-stat-pid="2_44_6_255" target="_blank">
								<i class="iconfont"></i>
								话费充值
							</a>
						</li>

					</ul>
				</div>
				<div class="span16" id="J_homePromo" data-stat-title="焦点图下方小图">
					<ul class="home-promo-list clearfix">
						<li class="first">
							<a class="item" href="/" data-stat-aid="AA13327" data-stat-pid="2_16_1_77" target="_blank">
								<img alt="米兔儿童手表-0720" src="http://i3.mifile.cn/a4/bcd96601-1406-4716-8258-975a90e8a706" srcset="http://i3.mifile.cn/a4/fbde1968-89d6-402b-bcee-7451c7b327e3 2x">
							</a>
						</li>
						<li>
							<a class="item" href="/" data-stat-aid="AA13313" data-stat-pid="2_16_2_78" target="_blank">
								<img alt="小米手机5-0720" src="http://i3.mifile.cn/a4/699590cf-1eec-4cbb-84e7-3db5d965bb0d" srcset="http://i3.mifile.cn/a4/cfd68741-d5d4-43aa-9ca9-f71b85483976 2x">
							</a>
						</li>
						<li>
							<a class="item" href="/" data-stat-aid="AA13314" data-stat-pid="2_16_3_79" target="_blank">
								<img alt="红米Note3-0720" src="http://i3.mifile.cn/a4/dc80da21-68df-4d2a-9b3f-3bbea5b539a4" srcset="http://i3.mifile.cn/a4/11f55f19-4011-4e67-be32-d245745c57ea 2x">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{volist name="floor_ad" id="v"} 
		<div class="slide" style=" width: 1226px; display: block; ">
								<a href="{$v.ad_link}" target="_blank">
									<img src="{$v.ad_code}">
								</a>
							</div>
		{/volist}


		<div class="home-star-goods" id="J_homeStar">
			<div class="xm-plain-box">
				<div class="box-hd">
					<h2 class="title">小米明星单品</h2>
					<div class="more">
						<div class="xm-controls xm-controls-line-small xm-carousel-controls">
							<a class="control control-prev iconfont prevStop" href="javascript: void(0);"></a>
							<a class="control control-next iconfont" href="javascript: void(0);"></a>
						</div>
					</div>
				</div>
				<div class="box-bd">
					<div class="tempWrap" style="overflow:hidden; position:relative; width:1240px">
						<ul class="xm-carousel-list xm-carousel-col-5-list goods-list rainbow-list clearfix J_carouselList" style="width: 1736px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: 0px;">
							{volist name="recommend" id="vo"}
							<li class="rainbow-item-{$i}" style="float: left; width: 234px;">
								<a class="thumb" href="/goods/{$vo.id}.shtml" target="_blank">
									<img src="{$vo['goodsimages']['imageurl']}_430x430.jpg" alt="{$vo.name}">
								</a>
								<h3 class="title">
									<a href="/goods/{$vo.id}.shtml" target="_blank">{$vo.name}</a>
								</h3>
								<p class="desc"></p>
								<p class="price">{$vo.price}</p>
							</li>
							{/volist}
						</ul>
					</div>

					<div class="J_itemBox J_homeBanner home-banner-box home-banner-box-hero is-visible" data-index="1" style="margin-top: 40px;">
						<a href="/" target="_blank" data-log_code="31pchomebanner_1001011#t=normal&amp;page=home&amp;act=other&amp;bid=3186790.1&amp;adm=5132" data-stat-id="8cd11f28ae7db45b" onclick="_msq.push(['trackEvent', '79fe2eae924d2a2e-8cd11f28ae7db45b', 'https://hd.mi.com/w/18/04101m/index.htmlclient_id=180100041086&amp;masid=17409.0338', 'pcpid', '31pchomebanner_1001011#t=normal&amp;page=home&amp;act=other&amp;bid=3186790.1&amp;adm=5132']);">
							<img class="" alt="6X发布会预热蓝" width="1226" src="//i1.mifile.cn/a4/xmad_15241887117657_MWdbk.jpg">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-main home-main">
		<div class="container">
			{notempty name="cat"}
				{volist name="cat" id="vo"}
				<div id="smart" class="home-brick-box home-brick-row-2-box xm-plain-box J_itemBox J_brickBox" data-from-stat="false">
					<div class="box-hd">
						<h2 class="title">{$vo.name}</h2>
						<div class="more J_brickNav">
							<a class="more-link" href="/" target="_blank" data-stat-id="b90a628e1af0310c" onclick="_msq.push(['trackEvent', '79fe2eae924d2a2e-b90a628e1af0310c', 'https://www.mi.com/p/1915.html', 'pcpid', '']);">查看全部<i class="iconfont"></i></a>
						</div>
					</div>
					<div class="box-bd J_brickBd">
						<!-- 智能硬件 start-->
						<div class="row">
							<div class="span4 span-first">
								<ul class="brick-promo-list clearfix">
									<li class="brick-item brick-item-l brick-item-active">
										<a href="{$first_side_ad.0.ad_link}">
											<img src="{$first_side_ad.0.ad_code}" width="160" height="160" alt=""></a>
									</li>
								</ul>
							</div>
							<div class="span16">
								<ul class="brick-list clearfix">
									{volist name="vo.item[0]" id="li"}
									<li class="brick-item brick-item-m brick-item-m-2" data-gid="1161200059">
										<div class="figure figure-img">
											<a href="/goods/{$li.id}.shtml">
												<img src="{$li['goodsimages']['imageurl']}_430x430.jpg" width="160" height="160" alt="{$li.name}"></a>
										</div>
										<h3 class="title">
											<a href="/goods/{$li.id}.shmtl">{$li.name}</a>
										</h3>
										<p class="desc"></p>
										<p class="price">
											<span class="num">{$li.price}</span>
											元
										</p>
									</li>
									{/volist}
								</ul>
							</div>
						</div>
						<!-- 智能硬件 end-->
					</div>
				</div>
				{notempty name="$vo.adf"}
				<div class="J_itemBox J_homeBanner home-banner-box home-banner-box-brick is-visible" data-index="2">
					<a href="{$vo.adf.ad_link}.shtml" target="_blank">
						<img class="" alt="{$vo.ad.ad_name}" width="1226" src="{$vo.adf.ad_code}">
					</a>
				</div>
				{/notempty}
				{/volist}
			{/notempty}
			<div id="video" class="home-video-box xm-plain-box J_itemBox J_videoBox is-visible">
				<div class="box-hd">
					<h2 class="title">视频</h2>
					<div class="more J_brickNav">

					</div>
				</div>
				<div class="box-bd J_brickBd">
					<!-- 视频 start -->
					<ul class="video-list clearfix">
						<li class="video-item video-item-first">
							<div class="figure figure-img">
								<a class="J_videoTrigger" href="javascript: void(0);" data-stat-aid="AA12841" data-stat-pid="2_43_1_245" data-video="http://player.youku.com/embed/XMTU2NDM3NjEzMg==" data-video-title="小米Max 绝美外观视频">
									<img src="//i3.mifile.cn/a4/T1v3LgBTxv1RXrhCrK.jpg" width="296" height="180" alt="小米Max 绝美外观视频">
									<span class="play"> <i class="iconfont"></i>
                                    </span>
								</a>
							</div>
							<h3 class="title">
								<a class="J_videoTrigger" href="javascript: void(0);" data-stat-aid="AA12841" data-stat-pid="2_43_1_245" data-video="http://player.youku.com/embed/XMTU2NDM3NjEzMg==" data-video-title="小米Max 绝美外观视频">小米Max 绝美外观视频</a>
							</h3>
							<p class="desc">6.44" 大屏黄金尺寸，看什么都震撼</p>
						</li>
						<li class="video-item">
							<div class="figure figure-img">
								<a class="J_videoTrigger" href="javascript: void(0);" data-stat-aid="AA13049" data-stat-pid="2_43_2_246" data-video="http://player.youku.com/embed/XMTU5ODI2NzMyMA==" data-video-title="手机摄影，防抖绷带（教程）" title="点击播放视频">
									<img src="http://i3.mifile.cn/a4/66cbfd29-8e48-4ed1-aee0-e0e46f4cdc8b" width="296" height="180" alt="手机摄影，防抖绷带（教程）">
									<span class="play"> <i class="iconfont"></i>
                                    </span>
								</a>
							</div>
							<h3 class="title">
								<a class="J_videoTrigger" href="javascript: void(0);" data-stat-aid="AA13049" data-stat-pid="2_43_2_246" data-video="http://player.youku.com/embed/XMTU5ODI2NzMyMA==" data-video-title="手机摄影，防抖绷带（教程）" data-stat-id="AA13049+2_43_2_246">手机摄影，防抖绷带（教程）</a>
							</h3>
							<p class="desc">一分钟，拍照手抖迅速见效</p>
						</li>
						<li class="video-item">
							<div class="figure figure-img">
								<a class="J_videoTrigger" href="javascript: void(0);" data-stat-aid="AA12771" data-stat-pid="2_43_3_247" data-video="http://player.youku.com/embed/XMTU2MTQ2Njg3Ng==" data-video-title="笑喷了，沈腾爆笑出演，6集联播" title="点击播放视频">
									<img src="//i3.mifile.cn/a4/T1k9CgB7Av1RXrhCrK.jpg" width="296" height="180" alt="笑喷了，沈腾爆笑出演，6集联播">
									<span class="play">
                                        <i class="iconfont"></i>
                                    </span>
								</a>
							</div>
							<h3 class="title">
								<a class="J_videoTrigger" href="javascript: void(0);" data-stat-aid="AA12771" data-stat-pid="2_43_3_247" data-video="XMTU2MTQ2Njg3Ng==" data-video-title="笑喷了，沈腾爆笑出演，6集联播">笑喷了，沈腾爆笑出演，6集联播</a>
							</h3>
							<p class="desc">小米Max沈腾爆笑预告全集</p>
						</li>
						<li class="video-item">
							<div class="figure figure-img">
								<a class="J_videoTrigger" href="javascript: void(0);" data-stat-aid="AA12405" data-stat-pid="2_43_4_249" data-video="//v.mifile.cn/b2c-mimall-media/079803c78170eaf692d936eba3978cc1.mp4" data-video-title="15秒了解小米5 有多快" title="点击播放视频">
									<img src="//i1.mifile.cn/a4/xmad_15156722489305_NSZUh.jpg" width="296" height="180" alt="15秒了解小米5 有多快">
									<span class="play">
                                        <i class="iconfont"></i>
                                    </span>
								</a>
							</div>
							<h3 class="title">
								<a class="J_videoTrigger" href="javascript: void(0);" data-stat-aid="AA12405" data-stat-pid="2_43_4_249" data-video="XMTUwMTEyMjk0MA==" data-video-title="MIUI 9 理念视频">MIUI 9 理念视频</a>
							</h3>
							<p class="desc">快如闪电，前所未有的流畅</p>
						</li>
					</ul>
					<!-- 视频 end -->
				</div>
			</div>
		</div>
	</div>
	<div id="J_modalVideo" class="modal modal-video fade modal-hide">
		<div class="modal-hd">
			<h3 class="title">视频播放</h3>
			<a class="close" data-dismiss="modal" href="javascript: void(0);">
				<i class="iconfont">&#xe602;</i>
			</a>
		</div>
		<div class="modal-bd">
			<div class="loading">
				<div class="loader"></div>
			</div>
		</div>
	</div>
{/block}
{block name="js"}
<script>
	$(function(){
	    var length = $('#J_homeSlider').find('div').length;
	    var defaul = $('.ui-default-pager');
	    var th = '';
	    var y = 0;

	    for(var i = 0; i < length; i++)
		{
		    y++
		    th += '<div class="ui-pager-item"><a href="javascript:void(0);" class="ui-pager-link">' + y + '</a></div>';
		};
        defaul.html(th);
	});

    $(function () {
        var $v = $('#J_modalVideo');
        $('.J_videoTrigger').on('click',function(e){
            e.preventDefault();
            var newTitle = $(this).attr('data-video-title');
            $v.find('.modal-hd').find('.title').html(newTitle).end().end().find('.modal-bd').html('<iframe width="880" height="536" src="'+$(this).data('video')+'" frameborder="0" allowfullscreen=""></iframe>');
            $v.fadeIn(200).addClass('in');
            $('<div class="modal-backdrop fade in" style="width:100%; height:100%"></div>').appendTo('body').off('click').on('click',function(){
                $v.find('.close').trigger('click');
            });
        })
        $v.find('.close').on('click',function(){
            $v.removeClass("in").fadeOut(200,function(){
                $('.modal-backdrop').remove();
                $v.find('iframe').attr('src','');
            });

        })
    });

</script>
{/block}
