{extend name="common/base"}
{block name="title"}订单列表{/block}
{block name="main"}
<style>
    a.BrandLogo {
        text-align: center;
        line-height: 40px;
        height: 40px;
        width: 100px;
        overflow: hidden;
        border: 1px solid transparent;
        float: left;
        cursor: pointer;
    }
    a.BrandLogo:hover {
        border-color: #ff0036;
        color: #ff0036;
        background: #fff;
    }
    a.BrandLogo:hover img {
        display: none;
    }
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h5>订单管理 > 订单列表</h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="clearfix" style="padding-bottom: 10px;"></div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="25" style="text-align: center;"><i class="fa fa-star-half-full"></i></th>
                                    <th>ID</th>
                                    <th>订单编号</th>
                                    <th>订单状态</th>
                                    <th>收件人</th>
                                    <th>商品金额</th>
                                    <th>应付金额</th>
                                    <th>支付状态</th>
                                    <th>支付方式</th>
                                    <th>配送物流</th>
                                    <th>下单时间</th>
                                    <th>操作 </th>
                                </tr>
                                </thead>
                                <tbody>
                                {empty name="list"}
                                <tr>
                                    <td colspan="13" align="center">对不起，没有查询到任何相关结果！</td>
                                </tr>
                                {else /}
                                {volist name="list" id="vo"}
                                <tr>
                                    <td align="center"><i class="fa fa-star"></i></td>
                                    <td scope="row">{$vo.id}</td>
                                    <td><a href="/goods/{$vo.id}.shtml" target="_blank">{$vo.order_sn}</a></td>
                                    <td>
                                        {if condition="$vo.order_status eq 0"}待付款{elseif condition="$vo.order_status eq 2"}待发货{elseif condition="$vo.order_status eq 3"}已发货{elseif condition="$vo.order_status eq 4"}已收货{elseif condition="$vo.order_status eq 5"}退货中{elseif condition="$vo.order_status eq 6"}订单完成{/if}
                                    </td>
                                    <td>{$vo['address']['user_name']}</td>
                                    <td>{$vo.goods_price}</td>
                                    <td>{$vo.order_price}</td>
                                    <td>
                                        {eq name='$vo.pay_status' value='0'}未付款{else /}已付款{/eq}
                                    </td>
                                    <td>
                                        {empty name='$vo.pay_name'}未支付{else /}{$vo.pay_name}{/empty}
                                    </td>
                                    <td>{empty name='$vo.shipping_name'}未配送{else /}{$vo.shipping_name}{/empty} </td>
                                    <td>{$vo.order_time|date="Y-m-d H:i:s",###}</td>
                                    <td>
                                        <a href="/admin/orders/orderinfo/id/{$vo.id}" class="btn btn-info btn-xs "><i class="fa fa-eye"></i> 订单详情 </a>
                                        <a class="btn btn-danger btn-xs action-delete"><i class="fa fa-trash-o"></i> 删除 </a>
                                    </td>
                                </tr>
                                {/volist}
                                {/empty}
                                </tbody>
                            </table>
                            <div class="paginationcentent">
                                {$list->render()}
                            </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{/block}