<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单打印</title>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .pull-right {
            display: flex;
            margin-top: 20px;
        }
        .orders td span{
            width: 33%;
            line-height: 30px;
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="container">
    <div style="page-break-after: always;">
        <div class="pull-left"><h3>订单信息</h3></div>
        <div class="pull-right"><h5>发件方：{$SiteaName}</h5></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td style="width: 50%;">订单详情</td>
            </tr>
            </thead>
            <tbody>
            <tr class="orders">
                <td style="width: 50%;">
                    <span><b>下单时间：</b>{$info.order_time|date='Y-m-d H:i:s',###}</span>
                    <span><b>订单号：</b>{$info.order_sn}</span>
                    <span><b>支付方式：</b> {$info.pay_name?:'其他'}</span>
                    <span><b>配送方式：</b> {$info.shipping_name?:'顺风快递'}</span>
                    <span><b>用户备注：</b>{$info.users_note}</span>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="4"><b>收货信息</b></td>
            </tr>
            <tr><td>收件人</td><td>联系电话</td><td>收货地址</td><td>邮编</td></tr>
            </thead>
            <tbody>
            <tr>
                <td>{$dress.user_name}</td>
                <td>{$dress.user_phone}</td>
                <td>{$dress.province}&nbsp;&nbsp;{$dress.city}&nbsp;&nbsp;{$dress.county}&nbsp;&nbsp;{$dress.user_adress}</td>
                <td>{$dress.user_zipcode}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td><b>商品名称</b></td>
                <td><b>状态</b></td>
                <td><b>规格属性</b></td>
                <td><b>数量</b></td>
                <td><b>单价</b></td>
                <td class="text-right"><b>小计</b></td>
            </tr>
            </thead>
            <tbody>
            {volist name='order_goods' id="go"}
            <tr>
                <td>{$go.goods_name}</td>
                <td>
                    {if condition="$info.order_status eq 0"}
                    待付款
                    {elseif condition="$info.order_status eq 2"}
                    待发货
                    {elseif condition="$info.order_status eq 3"}
                    已发货
                    {elseif condition="$info.order_status eq 4"}
                    已收货
                    {elseif condition="$info.order_status eq 5"}
                    退货中
                    {elseif condition="$info.order_status eq 6"}
                    订单完成
                    {/if}
                </td>
                <td>{$go.spec_key_name}</td>
                <td>{$go.goods_num}</td>
                <td>{$go.goods_price}</td>
                <td class="text-right">{$go.goods_price * $go.goods_num}</td>
            </tr>
            {/volist}
            </tbody>
            <tfoot>
            <tr><td colspan="6" class="text-center"><input class="btn btn-default noprint" type="submit" onclick="window.print();" value="打印"></td></tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>